<div class="luth_notification @(NotificationRecord.CssClassString ?? string.Empty)"
     style="@CssStyleString">
    <div class="luth_notification-toolbar">
        <div class="luth_notification-title luth_unselectable"
             style="@NotificationTitleCssStyleString"
             title="@NotificationRecord.Title">
            @NotificationRecord.Title
        </div>

        <div class="luth_notification-control-buttons">
            <button class="luth_button luth_notification-button-entry" @onclick="ChangeNotificationToDialog">
                <IconEmptyWindow/>
            </button>
            <button class="luth_button luth_notification-button-entry" @onclick="HandleShouldNoLongerRender">
                <IconClose/>
            </button>
        </div>
    </div>

    <div class="luth_notification-body">
        <CascadingValue Value="NotificationRecord">
            <DynamicComponent Type="NotificationRecord.RendererType"
                              Parameters="NotificationRecord.ParameterMap"/>
        </CascadingValue>
    </div>
</div>