@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Dynamics.Models
@using Luthetus.Common.RazorLib.Notifications.Models;
@using System.Collections.Immutable;

@inherits FluxorComponent

@{ var notificationState = NotificationStateWrap.Value; }

<div class="luth_web_notifications-view">
    <div class="luth_web_notifications-view-tabs">
        @foreach (var notificationsViewKind in Enum.GetValues<NotificationsViewKind>())
        {
            <button class="luth_web_notifications-view-tab-entry luth_button @GetIsActiveCssClass(_chosenNotificationsViewKind, notificationsViewKind)"
                    @onclick="() => _chosenNotificationsViewKind = notificationsViewKind">

                @notificationsViewKind

                <span class="luth_web_notifications-view-tab-entry-count">
                    (<!--
                    -->@switch (notificationsViewKind)
                    {
                        case NotificationsViewKind.Notifications:
                            @: @notificationState.DefaultList.Count
                            break;
                        case NotificationsViewKind.Read:
                            @: @notificationState.ReadList.Count
                            break;
                        case NotificationsViewKind.Deleted:
                            @: @notificationState.DeletedList.Count
                            break;
                        case NotificationsViewKind.Archived:
                            @: @notificationState.ArchivedList.Count
                            break;
                    }<!--
                    -->)
                </span>
            </button>
        }
    </div>

    <div class="luth_web_notifications-view-body">
        @{
            var entriesToRenderList = ImmutableList<INotification>.Empty;
            var clearOnClick = new Action(() => { });

            switch (_chosenNotificationsViewKind)
            {
                case NotificationsViewKind.Notifications:
                    entriesToRenderList = notificationState.DefaultList;
                    clearOnClick = Clear;
                    break;
                case NotificationsViewKind.Read:
                    entriesToRenderList = notificationState.ReadList;
                    clearOnClick = ClearRead;
                    break;
                case NotificationsViewKind.Deleted:
                    entriesToRenderList = notificationState.DeletedList;
                    clearOnClick = ClearDeleted;
                    break;
                case NotificationsViewKind.Archived:
                    entriesToRenderList = notificationState.ArchivedList;
                    clearOnClick = ClearArchived;
                    break;
            }

            <button class="luth_button"
                    @onclick="clearOnClick">
                Clear @_chosenNotificationsViewKind
            </button>

            foreach (var entry in entriesToRenderList)
            {
                <div @key="entry.DynamicViewModelKey"
                     class="luth_web_notifications-view-body-entry">
                    
                    <CascadingValue Value="entry">
                        <DynamicComponent Type="entry.ComponentType"
                                          Parameters="entry.ComponentParameterMap" />
                    </CascadingValue>
                </div>

                <hr/>
            }
        }
    </div>
</div>