@{
    var countShown = 50;
    var seenBackgroundTasks = BackgroundTaskDialogModel.SeenBackgroundTasks.TakeLast(50).Reverse().ToArray();
}

<div class="luth_ide_background-task">
    <div>Total count:@seenBackgroundTasks.Length // only showing the most recent @countShown</div>
    <div>The most recent entry is the first entry rendered, the last entry is the oldest entry relative to the set which was rendered.</div>
    
    <hr/>

    <div>
        @for (var i = 0; i < seenBackgroundTasks.Length; i++)
        {
            var index = i;
            var backgroundTask = seenBackgroundTasks[index];

            if (backgroundTask.Name.StartsWith("te_"))
            {
                <div class="luth_te_keyword">
                    @backgroundTask.Name @backgroundTask.BackgroundTaskKey.Guid
                </div>
            }
            else
            {
                <div>
                    @backgroundTask.Name @backgroundTask.BackgroundTaskKey.Guid
                </div>
            }
        }
    </div>
</div>
