@using Luthetus.Common.RazorLib.Themes.Models;

<select @onchange="SelectedThemeChanged"
        class="luth_select luth_te_text-editor-input-theme @InputViewModel.CssClass"
	   style="@InputViewModel.CssStyle">
    @{
        var themesList = LuthetusCommonApi.ThemeApi.GetThemeState().ThemeList;

        var chosenThemeKey = TextEditorService.OptionsApi.GetTextEditorOptionsState().Options.CommonOptions?.ThemeKey
            ?? ThemeFacts.VisualStudioDarkThemeClone.Key;
        
        foreach (var theme in themesList)
        {
            <option value="@theme.Key.Guid.ToString()"
                    selected="@(chosenThemeKey == theme.Key)">
                @theme.DisplayName
            </option>
        }
    }
</select>
