@using Luthetus.Ide.RazorLib.Terminals.Models

<div class="luth_ide_ide-specific-settings">

	<button class="luth_button"
			@onclick="WriteLuthetusDebugSomethingToConsole">
		WriteLuthetusDebugSomethingToConsole
	</button>
	
	<table>
    	<tr>
    		<td>Max Command Count History:</td>
    		<td>@($"{TerminalOutputFacts.MAX_COMMAND_COUNT:N0}")</td>
    	</tr>
    	<tr>
	    	<td>Max Character Length History:</td>
    		<td>@($"{TerminalOutputFacts.MAX_OUTPUT_LENGTH:N0}")</td>
    	</tr>
    	<tr>
    		<td>When Cleared Keep Last Command If Length Smaller:</td>
    		<td>@($"{TerminalOutputFacts.OUTPUT_LENGTH_PADDING:N0}")</td>
    	</tr>
    	<tr>
    		<td>HomeDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.HomeDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>RootDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.RootDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>ActualRoamingApplicationDataDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.ActualRoamingApplicationDataDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>ActualLocalApplicationDataDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.ActualLocalApplicationDataDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>SafeRoamingApplicationDataDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.SafeRoamingApplicationDataDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>SafeLocalApplicationDataDirectoryAbsolutePath:</td>
    		<td>@CommonApi.EnvironmentProviderApi.SafeLocalApplicationDataDirectoryAbsolutePath.Value</td>
    	</tr>
    	<tr>
    		<td>DriveExecutingFromNoDirectorySeparator:</td>
    		<td>@CommonApi.EnvironmentProviderApi.DriveExecutingFromNoDirectorySeparator</td>
    	</tr>
    	<tr>
    		<td>DirectorySeparatorChar:</td>
    		<td>@CommonApi.EnvironmentProviderApi.DirectorySeparatorChar</td>
    	</tr>
    	<tr>
    		<td>AltDirectorySeparatorChar:</td>
    		<td>@CommonApi.EnvironmentProviderApi.AltDirectorySeparatorChar</td>
    	</tr>
    	<tr>
    		<td>AppDataService:</td>
    		<td>@AppDataService.GetType().Name</td>
    	</tr>
    </table>
</div>