@{ var localTab = Tab; }

<button class="luth_polymorphic-tab luth_button luth_unselectable @localTab.TabGetDynamicCss() @GetIsBeingDraggedCssClassString() @CssClassString"
		style="@GetDraggableCssStyleString() @CssStyleString"
		id="@HtmlId"
        @onclick="async () => await localTab.TabSetAsActiveAsync()"
		@onmousedown:stopPropagation="true"
		@onmousedown:preventDefault="true"
        @onmousedown="HandleOnMouseDownAsync"
        @onmouseup="HandleOnMouseUp"
        @onmouseout="HandleOnMouseOutAsync">

	<span>@localTab.Title</span>

	@if (ShouldDisplayCloseButton)
	{
		<button class="luth_button luth_button-close"
	            @onclick:stopPropagation="true"
	            @onclick="CloseTabOnClickAsync">
	        
	        <IconClose/>
    	</button>
	}
</button>