@{ var localTab = Tab; }

<button class="luth_polymorphic-tab luth_button @localTab.TabGetDynamicCss() @GetIsBeingDraggedCssClassString()"
		style="@GetDraggableCssStyleString()"
		id="@HtmlId"
        @onclick="async () => await localTab.TabSetAsActiveAsync()"
		@onmousedown:stopPropagation="true"
        @onmousedown="HandleOnMouseDown"
        @onmouseup="HandleOnMouseUp"
        @onmouseout="HandleOnMouseOutAsync">

	@localTab.Title

	<button class="luth_button luth_button-close"
            @onclick:stopPropagation="true"
            @onclick="CloseTabOnClickAsync">
        
        <IconClose/>
    </button>
</button>