@using Luthetus.TextEditor.RazorLib.TextEditors.Displays

<div class="luth_te_text-editor-diff @TextEditorService.ThemeCssClassString @CssClassString"
     style="@CssStyleString">

    @{
        var textEditorDiff = TextEditorService.DiffStateWrap.Value.DiffModelList.FirstOrDefault(
            x => x.DiffKey == TextEditorDiffKey);
    }

    <div class="luth_te_text-editor-diff-title">
        <button class="luth_button"
                style="display: inline;"
                title="Show a visualization of the calculation"
                @onclick="ShowCalculationOnClick">
            Details
        </button>

        <span title="Longest Common Subsequence">LCS:&nbsp;</span>

        <span class="luth_te_diff-longest-common-subsequence">
            @if (_mostRecentDiffResult is not null)
            {
                @_mostRecentDiffResult.LongestCommonSubsequence
            }
            else
            {
                @: SAMPLE_TEXT
            }
        </span>
    </div>

    @if (textEditorDiff is null)
    {
        <div>@nameof(textEditorDiff) was null</div>
    }
    else
    {
        <div class="luth_te_text-editor-diff-body">
            <div class="luth_te_text-editor-diff-comparison-item">
                <TextEditorViewModelDisplay TextEditorViewModelKey="textEditorDiff.InViewModelKey" />
            </div>

            <div class="luth_te_text-editor-diff-body-separator"></div>

            <div class="luth_te_text-editor-diff-comparison-item">
                <TextEditorViewModelDisplay TextEditorViewModelKey="textEditorDiff.OutViewModelKey" />
            </div>
        </div>
    }
</div>