@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Resizes.Displays
@using Luthetus.Ide.RazorLib.CodeSearches.Models;
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays
@inherits FluxorComponent

@{ var codeSearchState = CodeSearchStateWrap.Value; }

<div class="luth_ide_find-all">

    <div class="luth_ide_find-all-top-content"
         style="@codeSearchState.TopContentElementDimensions.StyleString">
		
		@* <!-- Comment out currently unimplemented code -->
	        <div class="luth_ide_find-all-filter-list">
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Files)">
	                <IconFile /> files (f:)
	            </div>
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Types)">
	                <IconSymbolClass /> types (t:)
	            </div>
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Members)">
	                <IconSymbolMethod /> members (m:)
	            </div>
	        </div>
		*@

        @if (codeSearchState.StartingAbsolutePathForSearch is null)
        {
            <div>Set an active .NET Solution to choose a beginning path for the search.</div>
        }
        else
        {
            <div>Search beginning path: '@codeSearchState.StartingAbsolutePathForSearch'</div>
        }

        <input @bind="InputValue" />

        <div>@InputValue</div>

        <hr />

        @foreach (var filePath in codeSearchState.ResultList)
        {
            var absolutePath = EnvironmentProvider.AbsolutePathFactory(filePath, false);

            <div>
                <label>Open in editor:</label>
                <button class="luth_button"
                        style="display: inline; margin-bottom: 15px;"
                        title="@absolutePath.Value"
                        @onclick="() => HandleOnClick(filePath)"
                        @ondblclick="() => HandleOnDoubleClick(filePath)">
                    @absolutePath.NameWithExtension
                </button>
            </div>
        }
    </div>

    <ResizableRow TopElementDimensions="codeSearchState.TopContentElementDimensions"
                  BottomElementDimensions="codeSearchState.BottomContentElementDimensions"
                  ReRenderFuncAsync="HandleResizableRowReRenderAsync"/>
    
    <div class="luth_ide_find-all-bottom-content"
         style="@codeSearchState.BottomContentElementDimensions.StyleString">
         
         <TextEditorViewModelDisplay TextEditorViewModelKey="codeSearchState.PreviewViewModelKey"
                                     ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
    </div>
</div>