@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Ide.RazorLib.Terminals.Models;

<ContextBoundary ContextRecord="ContextFacts.TerminalContext"
                 ClassCssString="luth_ide_terminal"
                 StyleCssString="height: 100%; width: 100%; overflow: auto;">

    @{
        var terminalGroupDisplayState = TerminalGroupService.GetTerminalGroupState();
        var terminalState = TerminalService.GetTerminalState();

        _ = terminalState.TerminalMap.TryGetValue(
                terminalGroupDisplayState.ActiveTerminalKey,
                out var activeTerminal);
    }

	@if (AppOptionsService.ShowPanelTitles)
	{
	    <div class="luth_ide_section-title">
	        Terminal
	    </div>
    }

    <div class="luth_ide_section-body @AppOptionsService.ShowPanelTitlesCssClass">

        <div class="luth_ide_terminal-body"
             style="@terminalGroupDisplayState.BodyElementDimensions.StyleString">

            @if (activeTerminal is null)
            {
                @: activeTerminal was null
            }
            else
            {
            	<TerminalOutputTextEditorExpandDisplay @key="activeTerminal.Key"
            										   Terminal="activeTerminal"/>
            }
        </div>

        <Luthetus.Common.RazorLib.Resizes.Displays.ResizableColumn LeftElementDimensions="terminalGroupDisplayState.BodyElementDimensions"
                                                                   RightElementDimensions="terminalGroupDisplayState.TabsElementDimensions"
                                                                   ReRenderFuncAsync="async () => await InvokeAsync(StateHasChanged)" />

        <div class="luth_ide_terminal-tabs"
             style="@terminalGroupDisplayState.TabsElementDimensions.StyleString">
             
            @*
            Pause working on the integrated terminal for now.
            =================================================
            <button class="luth_button"
            		style="margin-bottom: 15px;"
            		@onclick="AddIntegratedTerminalOnClick">
            	Add Integrated Terminal
            </button>
            *@
            
            @{
            	var terminalList = terminalState.TerminalMap.Values
            		.OrderByDescending(x => TerminalFacts.WELL_KNOWN_KEYS.Contains(x.Key))
            		.ToArray();
            }
             
            @for (var i = 0; i < terminalList.Length; i++)
            {
                var index = i;
                var terminal = terminalList[index];

                string isActiveCssClass = string.Empty;
                if ((activeTerminal?.Key ?? Key<ITerminal>.Empty) == terminal.Key)
                    isActiveCssClass = "luth_active";

                <button class="luth_button @isActiveCssClass"
                        @onclick="() => DispatchSetActiveTerminalAction(terminal.Key)">

                    @terminal.DisplayName

                    @{ var isKillProcessDisabled = !terminal.HasExecutingProcess; }

                    <button class="luth_button"
                            disabled=@isKillProcessDisabled
                            @onclick="() => terminal.KillProcess()"
                            @onclick:stopPropagation="true">
                        Kill
                    </button>
                    
                    <button class="luth_button"
                    	    title="Clear inactive history"
                            @onclick="() => ClearTerminalOnClick(terminal.Key)"
                            @onclick:stopPropagation="true">
                        Clear
                    </button>

                    <div style="margin-left: 15px;">
                    
                    	@{
                    		var appOptionsState = AppOptionsService.GetAppOptionsState();
                    	
                    		var iconDriver = new IconDriver(
								appOptionsState.Options.IconSizeInPixels,
								appOptionsState.Options.IconSizeInPixels);
                    	}
                    
                        @if (terminal.HasExecutingProcess)
                        {
                            @IconLoadingFragment.Render(iconDriver)
                        }
                        else
                        {
                            @IconBlankFragment.Render(iconDriver)
                        }
                    </div>
                </button>

                if (i != terminalList.Length - 1)
                {
                    <text>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </text>
                }
            }
        </div>
    </div>
</ContextBoundary>
