@using Luthetus.Common.RazorLib.FileSystem.Classes.FilePath;
@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.ClassLib.Store.DotNetSolutionCase
@using Luthetus.Ide.RazorLib.ContextCase
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.TreeView
@using Luthetus.Common.RazorLib.TreeView.Displays

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="luth_ide_folder-explorer-display"
                 StyleCssString="height: 100%">
    @{
        var dotNetSolutionState = DotNetSolutionStateWrap.Value;

        <div class="luth_ide_section-title">
            Solution Explorer

            @if (dotNetSolutionState.IsExecutingAsyncTaskLinks > 0)
            {
                <IconLoading/>
            }
        </div>

        <div class="luth_ide_section-body">
            @if (dotNetSolutionState.DotNetSolution is null)
            {
                // #TODO Testing AbsoluteFilePath, delete this code block (2023-08-25)
                {
                    <input class="luth_ide_input luth_ide_input-text"
                           placeholder="_testAbsoluteFilePathString"
                           autocapitalize="none"
                           autocorrect="off"
                           autocomplete="off"
                           spellcheck="false"
                           @bind="_testAbsoluteFilePathString"
                           @bind:event="oninput" />

                    <input type="checkbox"
                           class="luth_ide_input luth_ide_input-text"
                           placeholder="_testAbsoluteFilePathIsDirectoryCheckbox"
                           @bind="_testAbsoluteFilePathIsDirectoryCheckbox"
                           @bind:event="oninput" />

                    <br/>

                    <div>
                        @{
                            var absoluteFilePath = new AbsoluteFilePath(
                                _testAbsoluteFilePathString,
                                _testAbsoluteFilePathIsDirectoryCheckbox,
                                EnvironmentProvider
                            );
                        }

                        <div>
                            <div>FileNameNoExtension:&nbsp;'@absoluteFilePath.FileNameNoExtension'</div>
                            <div>ExtensionNoPeriod:&nbsp;'@absoluteFilePath.ExtensionNoPeriod'</div>
                            <div>FilenameWithExtension:&nbsp;'@absoluteFilePath.FilenameWithExtension'</div>
                            <div>IsDirectory:&nbsp;'@absoluteFilePath.IsDirectory'</div>
                            <div>AncestorDirectories.Count:&nbsp;'@absoluteFilePath.AncestorDirectories.Count'</div>
                            <div>ExactInput:&nbsp;'@absoluteFilePath.ExactInput'</div>
                            <div>GetAbsoluteFilePathString():&nbsp;'@absoluteFilePath.GetAbsoluteFilePathString()'</div>
                        </div>
                    </div>
                }

                <button class="luth_button"
                        @onclick="() => DotNetSolutionState.ShowInputFile(Dispatcher)">
                    Open Solution
                </button>
            }
            else
            {
                <CascadingValue Name="LuthetusTreeViewIconWidth" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                    <CascadingValue Name="LuthetusTreeViewIconHeight" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                        <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                            <TreeViewStateDisplay TreeViewStateKey="DotNetSolutionState.TreeViewSolutionExplorerStateKey"
                                                  CssStyleString="height: 100%;"
                                                  OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                                  TreeViewKeyboardEventHandler="_solutionExplorerTreeViewKeymap"
                                                  TreeViewMouseEventHandler="_solutionExplorerTreeViewMouseEventHandler"/>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>


                <DropdownDisplay DropdownKey="SolutionExplorerContextMenu.ContextMenuEventDropdownKey"
                                 DropdownPositionKind="DropdownPositionKind.Unset"
                                 CssStyleString="@SolutionExplorerContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

                    <SolutionExplorerContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter"/>
                </DropdownDisplay>
            }
        </div>
    }
</ContextBoundary>