@using Luthetus.CompilerServices.Lang.DotNetSolution.CompilerServiceCase;
@using Luthetus.CompilerServices.Lang.DotNetSolution.Models.Associated;
@using Luthetus.CompilerServices.Lang.DotNetSolution.SyntaxActors;
@using Luthetus.TextEditor.RazorLib.Lexes.Models;

<div class="luth_ide_solution-editor">
    @{
        var compilerServiceResource = _compilerServiceRegistry.DotNetSolutionCompilerService
            .GetCompilerServiceResourceFor(DotNetSolutionResourceUri);
    }

    @if (compilerServiceResource is not null)
    {
        var dotNetSolutionResource = (DotNetSolutionResource)compilerServiceResource;

        <div class="luth_ide_solution-editor-compilation-unit">

            @{ var parser = dotNetSolutionResource.CompilationUnit?.Parser; }

            @if (parser is not null)
            {
                var solutionParser = (DotNetSolutionParser)parser;

                <div>
                    <div style="display: flex;">
                        <div class="luth_te_type">
                            @solutionParser.DotNetSolutionHeader.FormatVersionPair?.AssociatedNameToken.TextSpan.GetText()
                        </div>
                        &nbsp;
                        <div class="luth_te_method">
                            @solutionParser.DotNetSolutionHeader.FormatVersionPair?.AssociatedValueToken.TextSpan.GetText()
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="luth_te_type">
                            @solutionParser.DotNetSolutionHeader.HashtagVisualStudioVersionPair?.AssociatedNameToken.TextSpan.GetText()
                        </div>
                        &nbsp;
                        <div class="luth_te_method">
                            @solutionParser.DotNetSolutionHeader.HashtagVisualStudioVersionPair?.AssociatedValueToken.TextSpan.GetText()
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="luth_te_type">
                            @solutionParser.DotNetSolutionHeader.ExactVisualStudioVersionPair?.AssociatedNameToken.TextSpan.GetText()
                        </div>
                        &nbsp;
                        <div class="luth_te_method">
                            @solutionParser.DotNetSolutionHeader.ExactVisualStudioVersionPair?.AssociatedValueToken.TextSpan.GetText()
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="luth_te_type">
                            @solutionParser.DotNetSolutionHeader.MinimumVisualStudioVersionPair?.AssociatedNameToken.TextSpan.GetText()
                        </div>
                        &nbsp;
                        <div class="luth_te_method">
                            @solutionParser.DotNetSolutionHeader.MinimumVisualStudioVersionPair?.AssociatedValueToken.TextSpan.GetText()
                        </div>
                    </div>
                </div>

                <hr/>

                <div>
                    @foreach (var project in solutionParser.DotNetProjectList)
                    {
                        <div class="luth_te_keyword">
                            @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.Project.PROJECT_DEFINITION_START_TOKEN
                        </div>

                        <div style="padding-left: 10px;">
                            <div style="padding-left: 10px; border-left: 2px solid var(--luth_primary-border-color);">
                                <div>
                                    <span class="luth_te_type">
                                        ProjectTypeGuid:
                                    </span>
                                    <span class="luth_te_method">
                                        @project.ProjectTypeGuid
                                    </span>
                                </div>
                                <div>
                                    <span class="luth_te_type">
                                        DisplayName:
                                    </span>
                                    <span class="luth_te_method">
                                        @project.DisplayName
                                    </span>
                                </div>
                                <div>
                                    <span class="luth_te_type">
                                        RelativePathFromSolutionFileString:
                                    </span>
                                    <span class="luth_te_method">
                                        @project.RelativePathFromSolutionFileString
                                    </span>
                                </div>
                                <div>
                                    <span class="luth_te_type">
                                        ProjectIdGuid:
                                    </span>
                                    <span class="luth_te_method">
                                        @project.ProjectIdGuid
                                    </span>
                                </div>

                                <hr/>

                                <div>
                                    <span class="luth_te_type">
                                        SourceText:
                                    </span>

                                    ("{<!--
                                    --><span class="luth_te_method">
                                        @project.ProjectTypeGuid
                                    </span><!--
                                    -->}") = "<!--
                                    --><span class="luth_te_method">
                                        @project.DisplayName
                                    </span><!--
                                    -->", "<!--
                                    --><span class="luth_te_method">
                                        @project.RelativePathFromSolutionFileString
                                    </span><!--
                                    -->", "{<!--
                                    --><span class="luth_te_method">
                                        @project.ProjectIdGuid
                                    </span><!--
                                    -->}"
                                </div>
                            </div>
                        </div>

                        <div class="luth_te_keyword">
                            @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.Project.PROJECT_DEFINITION_END_TOKEN
                        </div>
                    }
                </div>

                <hr/>

                <div>
                    <div class="luth_te_keyword">
                        @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.Global.START_TOKEN
                    </div>

                    <div style="padding-left: 10px;">
                        <div style="padding-left: 10px; border-left: 2px solid var(--luth_primary-border-color);">
                            
                            @foreach (var globalSection in solutionParser.DotNetSolutionGlobal.DotNetSolutionGlobalSectionList)
                            {
                                <div>
                                    <span class="luth_te_keyword">
                                        @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.GlobalSection.START_TOKEN
                                    </span>
                                    (
                                        <span class="luth_te_method">
                                            @globalSection.GlobalSectionArgument?.TextSpan.GetText()
                                        </span>
                                    )
                                    <span class="luth_te_method">
                                        @globalSection.GlobalSectionOrder?.TextSpan.GetText()
                                    </span>
                                    <div style="padding-left: 10px;">
                                        <div style="padding-left: 10px; border-left: 2px solid var(--luth_primary-border-color);">
                                            @foreach (var associatedEntry in globalSection.AssociatedEntryGroup.AssociatedEntryList)
                                            {
                                                var associatedPair = associatedEntry as AssociatedEntryPair;

                                                if (associatedPair is not null)
                                                {
                                                    <div>
                                                        <span class="luth_te_type">
                                                            @associatedPair.AssociatedNameToken.TextSpan.GetText()
                                                        </span>
                                                        <span class="luth_te_method">
                                                            @associatedPair.AssociatedValueToken.TextSpan.GetText()
                                                        </span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <span class="luth_te_keyword">
                                        @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.GlobalSection.END_TOKEN
                                    </span>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="luth_te_keyword">
                        @Luthetus.CompilerServices.Lang.DotNetSolution.Facts.LexSolutionFacts.Global.END_TOKEN
                    </div>
                </div>
            }
        </div>
    }
</div>