@using System.Reflection;

<div class="luth_ide_info">

	<div>
        Source Code:
        <a target="_blank"
           href="https://github.com/Luthetus/Luthetus.Ide">
            
           Luthetus.Ide
        </a>
    </div>

	<hr/>

	<div>
        Entry Assembly:
		@{ var entryAssembly = System.Reflection.Assembly.GetEntryAssembly(); }
		<div>
			@{ var entryAssemblyName = entryAssembly.GetName(); }
            v
            <em class="luth_em" title="Version">
                @(entryAssemblyName.Version)
            </em>
            ::
			@if (AssemblyCustomAttributeIsDebug(entryAssembly))
			{
				@: Debug
			}
			else
			{
				@: Release
			}
			::
            @entryAssemblyName.Name
        </div>
    </div>

	<div class="luth_ide_info-main">
        Library:
    	@{ var ideAssembly = typeof(IdeInfoDisplay).Assembly; }
        <div>
			@{ var ideAssemblyName = ideAssembly.GetName(); }
            v
            <em class="luth_em" title="Version">
                @(ideAssemblyName.Version)
            </em>
            ::
			@if (AssemblyCustomAttributeIsDebug(ideAssembly))
			{
				@: Debug
			}
			else
			{
				@: Release
			}
			::
            @ideAssemblyName.Name
        </div>
    </div>

	<hr/>

	<div>
		<table>
			<tr>
				<td>IsDebug_MethodConditionalAttribute_Test:</td>
				<td>@MethodConditionalAttributeIsDebug()</td>
			</tr>
			<tr>
				<td>IsDebug_Preprocessor_Test:</td>
				<td>@PreprocessorIsDebug()</td>
			</tr>
		</table>
	</div>

	<hr/>

	<div class="luth_ide_info-references">
        <div>
            References
        </div>

        @{
            var referencedLuthetusAssembliesList = ideAssembly
                .GetReferencedAssemblies()
                .Where(x =>
					x.Name is not null &&
					(x.Name.StartsWith("Luthetus") ||
						x.Name.StartsWith("Fluxor") ||
						x.Name.StartsWith("Photino")))
				.OrderByDescending(x => x.Name.StartsWith("Luthetus"))
				.ToList();

			referencedLuthetusAssembliesList.AddRange(entryAssembly
                .GetReferencedAssemblies()
                .Where(x =>
					x.Name is not null &&
					x.Name.StartsWith("Photino")));
        }

        @foreach (var referencedLuthetusAssembly in referencedLuthetusAssembliesList)
        {
            if (referencedLuthetusAssembly.Name is null)
                continue;

            <div>
                v
                <em class="luth_em" title="Version">
                    @(referencedLuthetusAssembly.Version)
                </em>
                ::
				@if (AssemblyCustomAttributeIsDebug(Assembly.Load(referencedLuthetusAssembly)))
				{
					@: Debug
				}
				else
				{
					@: Release
				}
				::
                @referencedLuthetusAssembly.Name
            </div>
        }
    </div>

	<hr/>
	
	@*<div>
		BackgroundTaskWorkers:
		<div>
			<div>
				ContinuousBackgroundTaskWorker: @(BackgroundTaskService.ContinuousTaskWorker.ExecuteTask?.Status.ToString() ?? "null")
			</div>
			<div>
				BlockingBackgroundTaskWorker: @(BackgroundTaskService.IndefiniteTaskWorker.ExecuteTask?.Status.ToString() ?? "null")
			</div>
		</div>
	</div>*@

	<hr/>
	
	<div>
        LuthetusHostingInformation:
		<div>
            <div>
                @nameof(LuthetusHostingInformation.LuthetusHostingKind): @LuthetusHostingInformation.LuthetusHostingKind
            </div>
            <div>
                @nameof(LuthetusHostingInformation.LuthetusPurposeKind): @LuthetusHostingInformation.LuthetusPurposeKind
            </div>
            <div>
                @nameof(LuthetusHostingInformation.BackgroundTaskService):
                @if (LuthetusHostingInformation.BackgroundTaskService is null)
                {
                    <text>null</text>
                }
                else
                {
                    <text>NOT-null</text>
                }
            </div>
            <div>
                @nameof(LuthetusHostingInformation.GetMainWindowScreenDpiFunc): @LuthetusHostingInformation.GetMainWindowScreenDpiFunc.Invoke()
            </div>
		</div>
	</div>
	
	<hr/>

	<div>
        Recent Changes:
		<div>
            <div>
                <div>v <em class="luth_em">0.9.7.82 </em> (WIP_DATE)</div>
                <ul>
                	<li>
                		Draft PR
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.81 </em> (2025-05-28)</div>
                <ul>
                	<li>
                		Reduce amount of static / dependency injected objects / references to objects
                		(also fixes index out of range random crashing).
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.80 </em> (2025-05-27)</div>
                <ul>
                	<li>
                		Rewrite all implementations of
                		
                		<a target="_blank" href="https://github.com/Luthetus/Luthetus.Ide/blob/main/Source/Lib/Common/BackgroundTasks/Models/IBackgroundTaskGroup.cs#L5">
                			IBackgroundTaskGroup
                		</a>
                    </li>
                    <li>
                    	Fix text editors that lack a gutter.
                    </li>
                	<li>
                		Fix: StartupControlDisplay `View Terminal` dropdown menu option
                		causing general terminal to never render properly
                		unless you manually had viewed general at least once before clicking
                		the dropdown.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.79 </em> (2025-05-26)</div>
                <ul>
                	<li>
                		<a target="_blank" href="https://github.com/Luthetus/Luthetus.Ide/blob/main/Source/Lib/Common/BackgroundTasks/Models/ContinuousBackgroundTaskWorker.cs#L42">
                			ContinuousBackgroundTaskWorker
                		</a>
                        
                        2 while loops to avoid try-catch every loop.
                    </li>
                    <li>
                		<a target="_blank" href="https://github.com/Luthetus/Luthetus.Ide/blob/main/Source/Lib/TextEditor/BackgroundTasks/Models/TextEditorWorkerUi.cs#L44">
                			TextEditorWorkerUi.cs
                		</a>
                        
            			Rewrite the text editor UI events.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.78 </em> (2025-05-25)</div>
                <ul>
                	<li>
                        '.slnx' support progress
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.77 </em> (2025-05-25)</div>
                <ul>
                	<li>
                        Parse C# projects with respect to the order that they reference one another.
                    </li>
                    <li>
                        Solution wide parse everything twice
                        (not ideal but this is quite effective for the time being).
                    </li>
                    <li>
                        Quality of life auto-add some deletion permitted entries.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.76 </em> (2025-05-23)</div>
                <ul>
                	<li>
                        Member Autocomplete Progress.
                    </li>
                    <li>
                        Parser garbage collection optimizations.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.75 </em> (2025-05-20)</div>
                <ul>
                	<li>
                        StopCursorBlinking()
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.74 </em> (2025-05-19)</div>
                <ul>
                	<li>
                        Fix slider CSS multiplying over time.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.73 </em> (2025-05-19)</div>
                <ul>
                	<li>
                        Clean the Text Editor code.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.72 </em> (2025-05-18)</div>
                <ul>
                	<li>
                        1 Vertical Scrollbar progress
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.71 </em> (2025-05-16)</div>
                <ul>
                	<li>
                        Combine CalculateVirtualizationResult(...) and CreateCache(...)
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.70 </em> (2025-05-16)</div>
                <ul>
                	<li>
                        Scrolling improvements
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.69 </em> (2025-05-14)</div>
                <ul>
                	<li>
                        Inline cursor and the ScrollbarDimensions onto the TextEditorViewModel.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.68 </em> (2025-05-13)</div>
                <ul>
                	<li>
                        Fix terminal and test explorer.
                    </li>
                    <li>
                        Arguably broke the `Find in Editor`.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.67 </em> (2025-05-13)</div>
                <ul>
                	<li>
                        Unit Test Explorer Changes
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.66 </em> (2025-05-11)</div>
                <ul>
                	<li>
                        BackgroundTaskService optimizations.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.65 </em> (2025-05-11)</div>
                <ul>
                	<li>
                        I'm going to start "aggresively" moving the IDE towards only showing
                        finished UI with respect to the main branch.
                        
                        So, anything that doesn't work yet, will have its UI commented out,
                        then when it works, it can be uncommented again.
                        
                        What I describe here includes the fact that the panel UI
                        has always been sort of janky, and is currently not in a "finished UI state".
                        
                        That being said I can't comment out the panel UI since it is a core of the IDE UI.
                        But I'll focus on the collapse points for the text editor,
                        and then clean up any jank --- wherein this jank includes even long standing UI pieces like the panel UI.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.64 </em> (2025-05-10)</div>
                <ul>
                	<li>
                        I think I've fixed any breaking bugs.
                        I see some janky bugs, but I wanted to immediately get out fixes for the breaking ones first.
                        I'm gonna just shut up and fix them.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.63 </em> (2025-05-09)</div>
                <ul>
                	<li>
                        ScrollIntoView
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.62 </em> (2025-05-08)</div>
                <ul>
                	<li>
                        Fix scrolling with a collapsed -- collapse point
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.61 </em> (2025-05-08)</div>
                <ul>
                	<li>
                        Fix feature regressions caused by caching CSS.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.60 </em> (2025-05-07)</div>
                <ul>
                	<li>
                        Cache text editor UI
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.59 </em> (2025-05-04)</div>
                <ul>
                	<li>
                        Collapse lines Progress (doesn't work yet don't use it).
                    </li>
                	<li>
                        Many optimizations
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.57 </em> (2025-04-30)</div>
                <ul>
                	<li>
                        Fix: presentation layer bug
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.56 </em> (2025-04-29)</div>
                <ul>
                	<li>
                        Performance improvements
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.55 </em> (2025-04-22)</div>
                <ul>
                	<li>
                        Text Editor NuGet Package v4.9.0 is now available.
                        <a target="_blank" href="https://www.nuget.org/packages/Luthetus.TextEditor/">(nuget.org)</a>
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.54 </em> (2025-04-21)</div>
                <ul>
                	<li>
                        Text Editor NuGet Package v4.9.0 (by the end of the day I will publish this)
                        <a target="_blank" href="https://www.nuget.org/packages/Luthetus.TextEditor/">(nuget.org)</a>
                    </li>
                    <li>
                		Improve the text editor editing code and undo/redo.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.53 </em> (2025-04-14)</div>
                <ul>
                	<li>
                		Garbage collection optimizations.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.52 </em> (2025-04-05)</div>
                <ul>
                	<li>
                        Text Editor NuGet Package v4.8.0 (by the end of the day I will publish this)
                        <a target="_blank" href="https://www.nuget.org/packages/Luthetus.TextEditor/">(nuget.org)</a>
                    </li>
                	<li>
                		Parse property getter and setters.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.51 </em> (2025-04-04)</div>
                <ul>
                	<li>
                		Event subscription
                	</li>
                	<li>
                		'catch' 'when'
                	</li>
                	<li>
                		Explicit cast with nullable '?'
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.50 </em> (2025-04-01)</div>
                <ul>
                	<li>
                		Fix: asterisk in tab for dirty resource uri
                	</li>
                	<li>
                		Inline TextEditorWorker/Ui/Arbitrary work instead of making a variable.
                	</li>
                	<li>
                		This is an extremely small update but I think I am not well and I want to
                		fix the asterisk issue before I take a break.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.49 </em> (2025-03-31)</div>
                <ul>
                	<li>
                		Optimize "virtualization boundaries".
                	</li>
                	<li>
                		Mouse and tab interaction improvements.
                	</li>
                	<li>
                		Calculated string caching for text editor.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.48 </em> (2025-03-29)</div>
                <ul>
                	<li>
                		Very substantial OnMouseMove garbage collection overhead optimization.
                	</li>
                	<li>
                		Bug: if your cursor leaves the tooltip, the tooltip will disappear
                		even if you bring your cursor back over the tooltip prior to it disappearing.
                	</li>
                	<li>
                		Bug: text editor tabs for the 'is dirty'.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.47 </em> (2025-03-28)</div>
                <ul>
                	<li>
                		Optimize away many text editor UI object allocations.
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.46 </em> (2025-03-27)</div>
                <ul>
                	<li>
                		Delete: FooterDriver.cs
                	</li>
                	<li>
                		Fix: Stop cursor blinking momentarily upon changing the active file in text editor.
                	</li>
                	<li>
                		Fix: TextEditorCompilerServiceHeaderDisplay.razor.cs code block node getting "stuck".
                	</li>
                	<li>
                		Delete: HeaderDriver.cs
                	</li>
                	<li>
                		Fix: EditorDisplay re-rendering text editor tabs when view model changes.
                	</li>
                	<li>
                		Fix: header and footer not disappear when no files opened.
                	</li>
                	<li>
                		Fix: text editor flush with panel border
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.45 </em> (2025-03-26)</div>
                <ul>
                	<li>
                		Move header and footer outside the text editor component.
                	</li>
                	<li>
                        Cache many TextEditor string interpolated css classes.
                    </li>
                    <li>
                    	Delete: '__ModelCache'
                    </li>
                    <li>
                    	Delete: '__ViewModelCache'
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.44 </em> (2025-03-25)</div>
                <ul>
                	<li>
                        Models contain a list of their view model keys.
                    </li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.43 </em> (2025-03-24)</div>
                <ul>
                	<li>
                        Text Editor NuGet Package v4.6.0 (by the end of the day I will publish this)
                        <a target="_blank" href="https://www.nuget.org/packages/Luthetus.TextEditor/">(nuget.org)</a>
                    </li>
                	<li>
                		No more pointless List wrapping for the cursor.
                	</li>
                	<li>
                		Delete TextEditorModelModifier
                		and TextEditorViewModelModifier
                	</li>
                </ul>
            </div>
            <div>
                <div>v <em class="luth_em">0.9.7.42 </em> (2025-03-23)</div>
                <ul>
                	<li>
                		Delete 'TextEditorCommand.cs'
                		and 'TextEditorCommandArgs.cs'.
                	</li>
                	<li>
            			Re-work keyboard events (within text editor)
        			</li>
                	<li>
                		Header and Footer of text editor are now re-rendering
                		in sync with the cursor starting to blink again.
                		(Maybe this is odd, I'm gonna see how it feels).
                	</li>
                	<li>
                		Fix: Find All
                	</li>
                	<li>
						1,610 C# files (Luthetus.Ide.sln) in total parsed: 158 MB memory in 4.215 seconds
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
