@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models;
@using Luthetus.Common.RazorLib.Installations.Models;
@using Luthetus.Common.RazorLib.Menus.Displays
@using Luthetus.Ide.RazorLib.Settings.Displays
@using Luthetus.Ide.RazorLib.Shareds.Displays.Internals
@using Luthetus.Ide.RazorLib.StartupControls.Displays
@using Luthetus.Ide.RazorLib.Shareds.States;

@{
	var borderBottomHeight =  AppOptionsStateWrap.Value.Options.ResizeHandleHeightInPixels;
	var contextBoundaryCssStyle = $"display: flex; justify-content: space-between; border-bottom: {borderBottomHeight}px solid var(--luth_primary-border-color);";
}

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="luth_ide_header"
                 StyleCssString="@contextBoundaryCssStyle">
    
    <div class="luth_ide_header-left-content"
         style="display: flex;">
        
        <SettingsDialogEntryPoint/>

        <button @ref="_buttonFileElementReference"
                @onclick="RenderFileDropdownOnClick"
			    id="@IdeHeaderState.ButtonFileId"
                class="luth_button"
                style="margin-left: 15px;">
            File
        </button>

		<button @ref="_buttonToolsElementReference"
                @onclick="RenderToolsDropdownOnClick"
			    id="@IdeHeaderState.ButtonToolsId"
                class="luth_button"
                style="margin-left: 15px;">
            Tools
        </button>

		<button @ref="_buttonViewElementReference"
                @onclick="RenderViewDropdownOnClick"
			    id="@IdeHeaderState.ButtonViewId"
                class="luth_button"
                style="margin-left: 15px;">
			View
         </button>

		<button @ref="_buttonRunElementReference"
                @onclick="RenderRunDropdownOnClick"
			    id="@IdeHeaderState.ButtonRunId"
				class="luth_button"
                style="margin-left: 15px;">
            Run
        </button>

        <button class="luth_button"
                style="margin-left: 15px;"
                @onclick="OpenInfoDialogOnClick">
            Info
        </button>

        @if (LuthetusHostingInformation.LuthetusHostingKind == LuthetusHostingKind.ServerSide)
        {
            <IdeImportExportButtons/>
        }

        <StartupControlDisplay/>
    </div>
</ContextBoundary>