<div class="luth_ide_input-file-display-bottom-controls">
    <div class="luth_ide_input-file-display-bottom-controls-text-input">
        <div>
            @GetSelectedTreeViewModelAbsolutePathString(InputFileState)    
        </div>
        <div>
            (@InputFileState.Message)    
        </div>
    </div>
    <div class="luth_ide_input-file-display-bottom-controls-non-text">
        <div>
            <select @onchange="SelectInputFilePatternOnChange">
                @foreach (var inputFilePattern in InputFileState.InputFilePatternsList)
                {
                    <option value="@inputFilePattern.PatternName"
                            selected="@GetInputFilePatternIsSelected(inputFilePattern, InputFileState)">
                        @inputFilePattern.PatternName
                    </option>
                }
            </select>
        </div>
        <div style="display: flex;">
            <button class="luth_button"
                    disabled=@OnAfterSubmitIsDisabled()
                    @onclick="FireOnAfterSubmit">
                Select
            </button>
            
            <button class="luth_button"
                    @onclick="CancelOnClick">
                Cancel
            </button>
        </div>
    </div>
</div>