@using Luthetus.Common.RazorLib.Resizes.Displays

<div class="luth_dialog-display @DialogRecord.DialogCssClassString @GetCssClassForDialogStateIsActiveSelection(DialogStateIsActiveSelection.Value)"
     style="@ElementDimensionsStyleCssString @IsMaximizedStyleCssString"
     id="@DialogRecord.DialogFocusPointHtmlElementId"
     tabindex="-1"
     @onfocusin="HandleOnFocusIn"
     @onmousedown="HandleOnMouseDown">

    @if (DialogRecord.DialogIsResizable && !DialogRecord.DialogIsMaximized)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="DialogRecord.DialogElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"/>
    }

    <div class="luth_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandle">
        <div class="luth_dialog-display-title luth_unselectable"
             style="@DialogTitleCssStyleString"
             title="@DialogRecord.Title">
            @DialogRecord.Title
        </div>

        <div class="luth_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
            
            @if (DialogRecord.DialogIsResizable)
            {
                <button class="luth_button luth_dialog-display-button-entry"
                        @onclick="ToggleIsMaximized">
                    
                    @if (DialogRecord.DialogIsMaximized)
                    {
                        <IconRestore/>
                    }
                    else
                    {
                        <IconMaximize/>
                    }
                </button>
            }
            
            <button class="luth_button luth_dialog-display-button-entry"
                    @onclick="DispatchDisposeDialogRecordAction">
                <IconClose/>
            </button>
        </div>
    </div>

    <div class="luth_dialog-display-body">
        <CascadingValue Value="DialogRecord">
            <DynamicComponent @key="DialogRecord.PolymorphicUiKey"
                              Type="DialogRecord.DialogRendererType"
                              Parameters="DialogRecord.DialogParameterMap"/>
        </CascadingValue>
    </div>
</div>