@using Luthetus.Common.RazorLib.Resizes.Displays

<div class="luth_dialog-display @DialogViewModel.CssClassString @GetCssClassForDialogStateIsActiveSelection(DialogStateIsActiveSelection.Value)"
     style="@ElementDimensionsStyleCssString @IsMaximizedStyleCssString"
     id="@DialogViewModel.FocusPointHtmlElementId"
     tabindex="-1"
     @onfocusin="HandleOnFocusIn"
     @onmousedown="HandleOnMouseDown">

    @if (DialogViewModel.IsResizable && !DialogViewModel.IsMaximized)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="DialogViewModel.ElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"
						  PolymorphicViewModel="DialogViewModel.PolymorphicViewModel"/>
    }

    <div class="luth_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandleAsync">
        <div class="luth_dialog-display-title luth_unselectable"
             style="@DialogTitleCssStyleString"
             title="@DialogViewModel.Title">
            @DialogViewModel.Title
        </div>

        <div class="luth_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
            
            @if (DialogViewModel.IsResizable)
            {
                <button class="luth_button luth_dialog-display-button-entry"
                        @onclick="ToggleIsMaximized">
                    
                    @if (DialogViewModel.IsMaximized)
                    {
                        <IconRestore/>
                    }
                    else
                    {
                        <IconMaximize/>
                    }
                </button>
            }
            
            <button class="luth_button luth_dialog-display-button-entry"
                    @onclick="DispatchDisposeDialogRecordAction">
                <IconClose/>
            </button>
        </div>
    </div>

    <div class="luth_dialog-display-body">
        <CascadingValue Value="DialogViewModel">
            <DynamicComponent @key="DialogViewModel.Key"
                              Type="DialogViewModel.RendererType"
                              Parameters="DialogViewModel.ParameterMap"/>
        </CascadingValue>
    </div>
</div>