<div class="luth_ide_compiler-service-controls">
    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@ViewBoxWidthInputId">
            ViewBoxWidth
        </label>
        <input id="@ViewBoxWidthInputId" type="number" @bind="InputViewBoxWidth" />
    </div>

    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@ViewBoxHeightInputId">
            ViewBoxHeight
        </label>
        <input id="@ViewBoxHeightInputId" type="number" @bind="InputViewBoxHeight" />
    </div>

    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@CircleRadiusInPixelsInputId">
            CircleRadiusInPixels
        </label>
        <input id="@CircleRadiusInPixelsInputId" type="number" @bind="InputCircleRadiusInPixels" />
    </div>

    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@MinimumMarginRightBetweenSiblingsAndSelfInputId">
            MinimumMarginRightBetweenSiblingsAndSelf
        </label>
        <input id="@MinimumMarginRightBetweenSiblingsAndSelfInputId" type="number" @bind="InputMinimumMarginRightBetweenSiblingsAndSelf" />
    </div>
    
    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@MinimumMarginBottomBetweenRowsInputId">
            MinimumMarginBottomBetweenRows
        </label>
        <input id="@MinimumMarginBottomBetweenRowsInputId" type="number" @bind="InputMinimumMarginBottomBetweenRows" />
    </div>

    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@SvgPaddingInputId">
            SvgPadding
        </label>
        <input id="@SvgPaddingInputId" type="number" @bind="InputSvgPadding" />
    </div>

    <div class="luth_ide_compiler-service-controls-form-group">
        <label for="@SvgFontSizeInPixelsInputId">
            SvgFontSizeInPixels
        </label>
        <input id="@SvgFontSizeInPixelsInputId" type="number" @bind="InputSvgFontSizeInPixels" />
    </div>
</div>