@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ 
	var localStartupControlState = StartupControlStateWrap.Value;
	var localExecutingTerminalCommand = _executingTerminalCommand;
	bool isExecuting;
	
	if (localExecutingTerminalCommand is null)
	{
		isExecuting = false;
	}
	else
	{
		isExecuting = !localExecutingTerminalCommand.IsCompleted;
	}
}

<div class="luth_ide_startup-controls-display">
   <div class="luth_ide_startup-controls-display-entry">
       <select title="Startup: @(localStartupControlState.ActiveStartupControl?.TitleVerbose)">
       	<option title="Choose startup project"
   			    value="@Guid.Empty"
   			    selected="@(localStartupControlState.ActiveStartupControl?.Key == null)">
   	    	Choose startup project
   	    </option>
       
       	@foreach (var startupControl in localStartupControlState.StartupControlList)
       	{
       		<option title="@startupControl.TitleVerbose"
       			    value="@startupControl.Key.Guid"
       			    selected="@(localStartupControlState.ActiveStartupControl?.Key == startupControl.Key)">
       	    	@startupControl.Title
       	    </option>
       	}
       </select>
       &nbsp;
   </div>
   <div class="luth_ide_startup-controls-display-entry">
        <button @ref="_startButtonElementReference"
        	    @onclick="() => StartProgramWithoutDebuggingOnClick(isExecuting)"
                class="luth_button"
                id="@_startButtonElementId"
                disabled=@(ProgramExecutionStateWrap.Value.StartupProjectAbsolutePath is null)
                title="Start without debugging">
            
            @if (isExecuting)
            {
				<IconStopCircle/>
            }
            else
            {
				<IconStartWithoutDebugging/>
            }
        </button>
   </div>
</div>