@using Luthetus.Common.RazorLib.Themes.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_te_text-editor-input-theme @TextEditorService.ThemeCssClassString @TopLevelDivElementCssClassString">
    <span class="@LabelElementCssClassString">
        Theme:&nbsp;
    </span>

    <select @onchange="SelectedThemeChanged"
            class="@InputElementCssClassString">
        @{
            var themesList = ThemeStateWrap.Value.ThemeList;

            var chosenThemeKey = TextEditorOptionsStateWrap.Value.Options.CommonOptions?.ThemeKey
                ?? ThemeFacts.VisualStudioDarkThemeClone.Key;
            
            foreach (var theme in themesList)
            {
                <option value="@theme.Key.Guid.ToString()"
                        selected="@(chosenThemeKey == theme.Key)">
                    @theme.DisplayName
                </option>
            }
        }
    </select>
</div>