@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models;

<div class="luth_menu-option-display luth_unselectable @IsActiveCssClass @HasWidgetActiveCssClass"
	 id="@_menuOptionHtmlElementId"
     tabindex="-1"
     @ref="_topmostElementReference"
     @onclick="HandleOnClick"
     @onclick:stopPropagation="true"
     @onkeydown="HandleOnKeyDown"
     @onkeydown:preventDefault="true"
     @oncontextmenu:preventDefault="true"
     @oncontextmenu:stopPropagation="true">
    
    @if (IconRenderFragment is not null)
    {
        <div class="luth_menu-option-icon">
            @IconRenderFragment(MenuOptionRecord)
        </div>
        
    }
    
    @MenuOptionRecord.DisplayName
    
    @{
    	var appOptionsState = CommonApi.AppOptionApi.GetAppOptionsState();
    
    	var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
    }

    @if (MenuOptionRecord.SubMenu is not null)
    {
        @IconChevronRightFragment.Render(iconDriver)
    }

    @if (DisplayWidget)
    {
        <div class="luth_menu-option-widget"
             @onclick:stopPropagation="true"
             @ondblclick:stopPropagation="true"
             @onkeydown:stopPropagation="true"
             @onkeydownwithpreventscroll:stopPropagation="true"
             @oncontextmenu:stopPropagation="true">

            <CascadingValue Value="MenuOptionCallbacks">
                <DynamicComponent Type="MenuOptionRecord.WidgetRendererType"
                                  Parameters="MenuOptionRecord.WidgetParameterMap"/>
            </CascadingValue>
        </div>
    }
</div>