@using System.Text
@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Dimensions.Models;
@using Luthetus.TextEditor.RazorLib.Cursors.Models
@using Luthetus.TextEditor.RazorLib.Rows.Models
@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.TextEditor.RazorLib.Virtualizations.Models
@using Luthetus.TextEditor.RazorLib.Virtualizations.Displays

@{ var renderBatchLocal = RenderBatch; }
    
@if (renderBatchLocal is not null)
{
	_renderBatchLocalMostRecent = renderBatchLocal;
	
	var primaryCursor = renderBatchLocal.ViewModel!.PrimaryCursor;

    var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
    var spaceKeyOutput = "&nbsp;";

    if (TextEditorService.OptionsStateWrap.Value.Options.ShowWhitespace)
    {
        tabKeyOutput = "--->";
        spaceKeyOutput = "·";
    }

	<div class="luth_te_body-section"
 		style="@GetBodyStyleCss(renderBatchLocal)">
        
        @* RowSection.razor Open *@
		<div class="luth_te_row-section"
     		id="@renderBatchLocal.ViewModel.BodyElementId">
    
    		@* VirtualizationDisplay must be rendered first as it will modify the scrollHeight / scrollWidth of the scrollable parent *@
		    <VirtualizationDisplay VirtualizationResultWithoutTypeMask="renderBatchLocal.ViewModel.VirtualizationResult"
		                           ItemsProviderFunc="RowSection_VirtualizationDisplayItemsProviderFunc"/>
		                           
			<PresentationAndSelectionSection RenderBatch="renderBatchLocal"/>
		
		    @foreach (var virtualizedRow in renderBatchLocal.ViewModel.VirtualizationResult.EntryList)
		    {
		        <div class="luth_te_row"
		             style="@RowSection_GetRowStyleCss(renderBatchLocal, virtualizedRow.Index, virtualizedRow.LeftInPixels)">
		            @if (virtualizedRow.Item.Any())
		            {
		                var spanBuilder = new StringBuilder();
		                var currentDecorationByte = virtualizedRow.Item.First().DecorationByte;
		
		                foreach (var richCharacter in virtualizedRow.Item)
		                {
		                    if (currentDecorationByte == richCharacter.DecorationByte)
		                    {
		                        RowSection_AppendTextEscaped(renderBatchLocal, spanBuilder, richCharacter, tabKeyOutput, spaceKeyOutput);
		                    }
		                    else
		                    {
		                        <span class="@RowSection_GetCssClass(renderBatchLocal, currentDecorationByte)">
		                            @((MarkupString)spanBuilder.ToString())
		                        </span>
		
		                        spanBuilder.Clear();
		
		                        RowSection_AppendTextEscaped(renderBatchLocal, spanBuilder, richCharacter, tabKeyOutput, spaceKeyOutput);
		
		                        currentDecorationByte = richCharacter.DecorationByte;
		                    }
		                }
		
		                /* Final grouping of contiguous characters */
		                <span class="@RowSection_GetCssClass(renderBatchLocal, currentDecorationByte)">
		                    @((MarkupString)spanBuilder.ToString())
		                </span>
		            }
		
		            @if (GlobalShowNewlines && virtualizedRow.Index < renderBatchLocal.Model.LineCount)
		            {
		                var amountOfLeftInCharacterWidthUnits = virtualizedRow.LeftInPixels /
		                    renderBatchLocal.ViewModel.CharAndLineMeasurements.CharacterWidth;
		
		                var lengthOfRow = renderBatchLocal.Model.GetLineLength(virtualizedRow.Index, true);
		
		                if (amountOfLeftInCharacterWidthUnits <= lengthOfRow)
		                {
		                    var rowEndingTuple = renderBatchLocal.Model.LineEndList[virtualizedRow.Index];
		
		                    <span class="luth_te_newline">
		                        @rowEndingTuple.LineEndKind.AsCharactersHtmlEscaped()
		                    </span>
		                }
		            }
		        </div>
		    }
		
		    <CursorDisplay @ref="CursorDisplayComponent" RenderBatch="renderBatchLocal"/>
		</div>
	    @* RowSection.razor Close *@
	
	    <ScrollbarSection RenderBatch="renderBatchLocal"/>
	    
	    <TooltipDisplay RenderBatch="renderBatchLocal"/>
	    
	    <FindOverlayDisplay RenderBatch="renderBatchLocal"/>
	    <WidgetLayerDisplay RenderBatch="renderBatchLocal"/>
	</div>
}