@using System.Text
@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Dimensions.Models;
@using Luthetus.TextEditor.RazorLib.Cursors.Models
@using Luthetus.TextEditor.RazorLib.Rows.Models
@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.TextEditor.RazorLib.Virtualizations.Models
@using Luthetus.TextEditor.RazorLib.Virtualizations.Displays

@code {
	public static RenderFragment<BodyDriver> GetRenderFragment = driver => 
	@<div class="luth_te_body-section"
 		style="@driver.GetBodyStyleCss(driver._renderBatch)">
 		
	@{
		var primaryCursor = driver._renderBatch.ViewModel!.PrimaryCursor;
	
	    var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
	    var spaceKeyOutput = "&nbsp;";
	
	    if (driver._root.TextEditorService.OptionsStateWrap.Value.Options.ShowWhitespace)
	    {
	        tabKeyOutput = "--->";
	        spaceKeyOutput = "·";
	    }
	}
        
        @* RowSection.razor Open *@
		<div class="luth_te_row-section"
     		id="@driver._renderBatch.ViewModel.BodyElementId">
    
    		@* VirtualizationDisplay must be rendered first as it will modify the scrollHeight / scrollWidth of the scrollable parent *@
    		@driver._root._bodyVirtualizationDriver.GetRenderFragment(driver._renderBatch)
		                           
		    @driver._root._presentationAndSelectionDriver.GetRenderFragment(driver._renderBatch)
		
		    @foreach (var virtualizedRow in driver._renderBatch.ViewModel.VirtualizationResult.EntryList)
		    {
		        <div class="luth_te_row"
		             style="@driver.RowSection_GetRowStyleCss(driver._renderBatch, virtualizedRow.Index, virtualizedRow.LeftInPixels)">
		            @if (virtualizedRow.Item.Any())
		            {
		                var spanBuilder = new StringBuilder();
		                var currentDecorationByte = virtualizedRow.Item.First().DecorationByte;
		
		                foreach (var richCharacter in virtualizedRow.Item)
		                {
		                    if (currentDecorationByte == richCharacter.DecorationByte)
		                    {
		                        driver.RowSection_AppendTextEscaped(driver._renderBatch, spanBuilder, richCharacter, tabKeyOutput, spaceKeyOutput);
		                    }
		                    else
		                    {
		                        <span class="@driver.RowSection_GetCssClass(driver._renderBatch, currentDecorationByte)">
		                            @((MarkupString)spanBuilder.ToString())
		                        </span>
		
		                        spanBuilder.Clear();
		
		                        driver.RowSection_AppendTextEscaped(driver._renderBatch, spanBuilder, richCharacter, tabKeyOutput, spaceKeyOutput);
		
		                        currentDecorationByte = richCharacter.DecorationByte;
		                    }
		                }
		
		                /* Final grouping of contiguous characters */
		                <span class="@driver.RowSection_GetCssClass(driver._renderBatch, currentDecorationByte)">
		                    @((MarkupString)spanBuilder.ToString())
		                </span>
		            }
		
		            @if (driver.GlobalShowNewlines && virtualizedRow.Index < driver._renderBatch.Model.LineCount)
		            {
		                var amountOfLeftInCharacterWidthUnits = virtualizedRow.LeftInPixels /
		                    driver._renderBatch.ViewModel.CharAndLineMeasurements.CharacterWidth;
		
		                var lengthOfRow = driver._renderBatch.Model.GetLineLength(virtualizedRow.Index, true);
		
		                if (amountOfLeftInCharacterWidthUnits <= lengthOfRow)
		                {
		                    var rowEndingTuple = driver._renderBatch.Model.LineEndList[virtualizedRow.Index];
		
		                    <span class="luth_te_newline">
		                        @rowEndingTuple.LineEndKind.AsCharactersHtmlEscaped()
		                    </span>
		                }
		            }
		        </div>
		    }
		
			@driver._root._cursorDriver.GetRenderFragment(driver._renderBatch)
		    @*<CursorDisplay RenderBatch="driver._renderBatch"/>*@
		</div>
	    @* RowSection.razor Close *@
	
	    <ScrollbarSection RenderBatch="driver._renderBatch"/>
	    <TooltipDisplay RenderBatch="driver._renderBatch"/>
	    <FindOverlayDisplay RenderBatch="driver._renderBatch"/>
	    <WidgetLayerDisplay RenderBatch="driver._renderBatch"/>
	</div>;
}
