@using System.Collections.Immutable
@using Luthetus.TextEditor.RazorLib.Decorations.Models
@using Luthetus.TextEditor.RazorLib.Lexers.Models
@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.TextEditor.RazorLib.Cursors.Models

@code {
	public static RenderFragment<PresentationAndSelectionDriver> GetRenderFragment = driver => 
	@<text>
	<div class="luth_te_first-render-presentation-layer-group">
	
	    @{
	        var FIRST_presentationLayerOrderedByRankAscending =
	        	driver.GetTextEditorPresentationModels(driver._renderBatch.ViewModel.FirstPresentationLayerKeysList)
	        	.OrderBy(x => x.Rank).ToList();
	    }
	
	    @foreach (var presentationLayer in FIRST_presentationLayerOrderedByRankAscending)
	    {
	        var completedCalculation = presentationLayer.CompletedCalculation;
	
			// (2025-01-25)
			// ============
			// ToImmutableArray() is a bad idea,
			// TextEditorTextSpan is a struct, yet immutable datatypes
			// are often a Tree datastructure thus requiring nodes,
			// thus requiring an object for the node
			// that contains the struct.
	        var textSpansList = completedCalculation?.TextSpanList
	            ?? Array.Empty<TextEditorTextSpan>().ToImmutableArray();
	
			// (2025-01-25)
			// ============
			// ToArray() is a bad idea,
			// This is being ran on a List that is public throughout the application.
			//
			// Step 1: allocate an array with capacity == 'TextModificationsSinceRequestList',
			// Step 1.5: someone adds to 'TextModificationsSinceRequestList'
			// Step 2: array not large enough exception.
			//
			// ToList() seems to not throw this exception (from quickly looking around stack overflow).
			// It presumably has an implementation detail that extends the destination.
			// 
			// Destination array was not long enough. Check the destination index, length, and the array's lower bounds. (Parameter 'destinationArray')
			// 	at System.Array.CopyImpl(Array sourceArray, Int32 sourceIndex, Array destinationArray, Int32 destinationIndex, Int32 length, Boolean reliable)
			// 	at System.Array.Copy(Array sourceArray, Array destinationArray, Int32 length)
			// 	at System.Collections.Generic.List`1.ToArray()
			// 	at Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals.PresentationAndSelectionStaticRenderFragments.<>c__DisplayClass3_0.<.cctor>b__1(RenderTreeBuilder __builder2) in C:\Users\hunte\Repos\Luthetus.Ide_Fork\Source\Lib\TextEditor\TextEditors\Displays\Internals\PresentationAndSelectionStaticRenderFragments.razor:line 25
			// 	at Microsoft.AspNetCore.Components.Rendering.RenderTreeBuilder.AddContent(Int32 sequence, RenderFragment fragment)
			// 	at Luthetus.TextEditor.RazorLib.TextEditors.Displays.TextEditorViewModelDisplay.BuildRenderTree(RenderTreeBuilder __builder) in C:\Users\hunte\Repos\Luthetus.Ide_Fork\Source\Lib\TextEditor\TextEditors\Displays\TextEditorViewModelDisplay.razor:line 91
			// 	at Microsoft.AspNetCore.Components.Rendering.ComponentState.RenderIntoBatch(RenderBatchBuilder batchBuilder, RenderFragment renderFragment, Exception& renderFragmentException)
			// 
	        var textModificationList = completedCalculation?.TextModificationsSinceRequestList.ToArray()
	            ?? Array.Empty<TextEditorTextModification>();
	
	        @if (completedCalculation is not null)
	        {
	            textSpansList = driver.PresentationVirtualizeAndShiftTextSpans(textModificationList, completedCalculation.TextSpanList);
	
	            <div class="@presentationLayer.CssClassString">
	                @foreach (var textSpan in textSpansList)
	                {
	                    var boundsInPositionIndexUnits = (textSpan.StartingIndexInclusive, textSpan.EndingIndexExclusive);
	
	                    var boundsInRowIndexUnits = driver.PresentationGetBoundsInRowIndexUnits(driver._renderBatch.Model, boundsInPositionIndexUnits);
	
	                    for (var i = boundsInRowIndexUnits.FirstRowToSelectDataInclusive;
	                         i < boundsInRowIndexUnits.LastRowToSelectDataExclusive;
	                         i++)
	                    {
	                        var rowIndex = i;
	
	                        <div class="@driver.PresentationGetCssClass(presentationLayer, textSpan.DecorationByte)"
	                             style="@driver.PresentationGetCssStyleString(
	                                    boundsInPositionIndexUnits.StartingIndexInclusive,
	                                    boundsInPositionIndexUnits.EndingIndexExclusive,
	                                    rowIndex)">
	                        </div>
	                    }
	                }
	            </div>
	        }
	    }
	</div>
	
	<div class="luth_te_text-selection-group">
	    @if (TextEditorSelectionHelper.HasSelectedText(driver._renderBatch.ViewModel.PrimaryCursor.Selection) &&
	         driver._renderBatch.ViewModel.VirtualizationResult.EntryList.Length > 0)
	    {
	        var selectionBoundsInPositionIndexUnits = TextEditorSelectionHelper.GetSelectionBounds(
	            driver._renderBatch.ViewModel.PrimaryCursor.Selection);
	
	        var selectionBoundsInRowIndexUnits = driver.GetSelectionBoundsInRowIndexUnits(selectionBoundsInPositionIndexUnits);
	
	        var virtualLowerBoundInclusiveRowIndex = driver._renderBatch.ViewModel.VirtualizationResult.EntryList.First().LineIndex;
	        var virtualUpperBoundExclusiveRowIndex = 1 + driver._renderBatch.ViewModel.VirtualizationResult.EntryList.Last().LineIndex;
	
	        int useLowerBoundInclusiveRowIndex = virtualLowerBoundInclusiveRowIndex >= selectionBoundsInRowIndexUnits.lowerRowIndexInclusive
	            ? virtualLowerBoundInclusiveRowIndex
	            : selectionBoundsInRowIndexUnits.lowerRowIndexInclusive;
	
	        int useUpperBoundExclusiveRowIndex = virtualUpperBoundExclusiveRowIndex <= selectionBoundsInRowIndexUnits.upperRowIndexExclusive
	            ? virtualUpperBoundExclusiveRowIndex
	            : selectionBoundsInRowIndexUnits.upperRowIndexExclusive;
	
	        for (var badIndex = useLowerBoundInclusiveRowIndex; badIndex < useUpperBoundExclusiveRowIndex; badIndex++)
	        {
	            var rowIndex = badIndex;
	            var textSelectionStyleCss = string.Empty;
	
	            if (driver._renderBatch.Options!.UseMonospaceOptimizations)
	            {
	                textSelectionStyleCss = driver.GetTextSelectionStyleCss(
	                    selectionBoundsInPositionIndexUnits.lowerPositionIndexInclusive,
	                    selectionBoundsInPositionIndexUnits.upperPositionIndexExclusive,
	                    rowIndex);
	            }
				
				<div class="luth_te_text-selection"
				     style="@textSelectionStyleCss">
				</div>
	        }
	    }
	</div>
	                        
	<div class="luth_te_last-render-presentation-layer-group">
	
	    @{
	        var LAST_presentationLayerOrderedByRankAscending = 
	        	driver.GetTextEditorPresentationModels(driver._renderBatch.ViewModel.LastPresentationLayerKeysList)
	        	.OrderBy(x => x.Rank).ToList();
	    }
	
	    @foreach (var presentationLayer in LAST_presentationLayerOrderedByRankAscending)
	    {
	        var completedCalculation = presentationLayer.CompletedCalculation;
	
	        var textSpansList = completedCalculation?.TextSpanList
	            ?? Array.Empty<TextEditorTextSpan>().ToImmutableArray();
	
	        var textModificationList = completedCalculation?.TextModificationsSinceRequestList.ToArray()
	            ?? Array.Empty<TextEditorTextModification>();
	
	        @if (completedCalculation is not null)
	        {
	            textSpansList = driver.PresentationVirtualizeAndShiftTextSpans(textModificationList, completedCalculation.TextSpanList);
	
	            <div class="@presentationLayer.CssClassString">
	                @foreach (var textSpan in textSpansList)
	                {
	                    var boundsInPositionIndexUnits = (textSpan.StartingIndexInclusive, textSpan.EndingIndexExclusive);
	
	                    var boundsInRowIndexUnits = driver.PresentationGetBoundsInRowIndexUnits(driver._renderBatch.Model, boundsInPositionIndexUnits);
	
	                    for (var i = boundsInRowIndexUnits.FirstRowToSelectDataInclusive;
	                         i < boundsInRowIndexUnits.LastRowToSelectDataExclusive;
	                         i++)
	                    {
	                        var rowIndex = i;
	
	                        <div class="@driver.PresentationGetCssClass(presentationLayer, textSpan.DecorationByte)"
	                             style="@driver.PresentationGetCssStyleString(
	                                    boundsInPositionIndexUnits.StartingIndexInclusive,
	                                    boundsInPositionIndexUnits.EndingIndexExclusive,
	                                    rowIndex)">
	                        </div>
	                    }
	                }
	            </div>
	        }
	    }
	</div>
	</text>;
}
