@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax.Symbols

@{ var localSymbol = Symbol; }

<div class="luth_te_symbol">
    @switch (localSymbol.SymbolKindString)
    {
        case "TypeSymbol":
            <text>
                <span class="luth_te_keyword">
                    type
                </span>
                
                <span class="luth_te_type">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "ConstructorSymbol":
            <text>
                <span class="luth_te_keyword">
                    constructor
                </span>

                <span class="luth_te_type">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "FunctionSymbol":
            <text>
                <span class="luth_te_keyword">
                    function
                </span>

                <span class="luth_te_method">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "VariableSymbol":
            <text>
                <span class="luth_te_keyword">
                    variable
                </span>

                <span class="luth_te_variable">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "FieldSymbol":
            <text>
                <span class="luth_te_keyword">
                    field
                </span>

                <span class="@(string.Empty /* Fields do not have their own css class as of (2023-07-20) */)">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "PropertySymbol":
            <text>
                <span class="luth_te_keyword">
                    property
                </span>

                <span class="@(string.Empty /* Properties do not have their own css class as of (2023-07-20) */)">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "StringInterpolationSymbol":
            <text>
                <span class="luth_te_keyword">
                    string-interpolation
                </span>

                <span class="luth_te_string-literal">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "NamespaceSymbol":
            <text>
                <span class="luth_te_keyword">
                    namespace
                </span>

                <span class="@(string.Empty /* Namespaces do not have their own css class as of (2023-07-20) */)">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "InjectedLanguageComponentSymbol":
            <text>
                <span class="luth_te_keyword">
                    component
                </span>

                <span class="luth_te_injected-language-component">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
        case "SourceFileSymbol":
            <text>
                <span class="luth_te_keyword">
                    Open in editor:
                </span>

                <button class="luth_button luth_te_source-file"
                        @onclick="() => OpenInEditorOnClick(localSymbol.TextSpan.GetText())">
                    @localSymbol.TextSpan.GetText()
                </button>
            </text>
            break;
        case "OnClickSymbol":
        	var onClickSymbol = (OnClickSymbol)localSymbol;
        
            <text>
                <button class="luth_button luth_te_source-file"
                        @onclick="onClickSymbol.OnClickFunc">
                    @onClickSymbol.DisplayText
                </button>
            </text>
            break;
        default:
            <text>
                <span class="luth_te_keyword">
                    unknown-symbol-kind
                </span>

                <span class="@(string.Empty /* Unknown-symbol-kinds do not have their own css class as of (2023-07-20) */)">
                    @localSymbol.TextSpan.GetText()
                </span>
            </text>
            break;
    }
</div>