@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax
@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax.Nodes

<div class="luth_te_text-editor-header luth_te_compiler-service-header">
	 
	@{ var showDefaultToolbarLocal = _showDefaultToolbar; }
	
	<div style="justify-content: space-between; display: flex;">
		<div title="ICodeBlockOwner">
			@{ var codeBlockOwnerLocal = _codeBlockOwner; }
			
			@if (codeBlockOwnerLocal is null)
			{
				<text>global</text>
			}
			else
			{
				<ErrorBoundary>
					@switch (codeBlockOwnerLocal.SyntaxKind)
					{
						case SyntaxKind.FunctionDefinitionNode:
							var functionDefinitionNode = (FunctionDefinitionNode)codeBlockOwnerLocal;
							<text>
								function:
								@(functionDefinitionNode.FunctionIdentifierToken.TextSpan.GetText())(...)
							</text>
							break;
						case SyntaxKind.ConstructorDefinitionNode:
							var constructorDefinitionNode = (ConstructorDefinitionNode)codeBlockOwnerLocal;
							<text>
								constructor:
								@(constructorDefinitionNode.FunctionIdentifier.TextSpan.GetText())(...)
							</text>
							break;
						case SyntaxKind.TypeDefinitionNode:
							var typeDefinitionNode = (TypeDefinitionNode)codeBlockOwnerLocal;
							<text>
								type:
								@typeDefinitionNode.TypeIdentifierToken.TextSpan.GetText()
							</text>
							break;
						case SyntaxKind.NamespaceStatementNode:
							var namespaceStatementNode = (NamespaceStatementNode)codeBlockOwnerLocal;
							<text>
								namespace:
								@namespaceStatementNode.IdentifierToken.TextSpan.GetText()
							</text>
							break;
						default:
							<text>@codeBlockOwnerLocal.SyntaxKind</text>
							break;
					}
				</ErrorBoundary>
			}
		</div>
	</div>
	
	<div style="justify-content: space-between; display: flex;">
	
		@{
	    	var iconDriver = new IconDriver(
				AppOptionsStateWrap.Value.Options.IconSizeInPixels,
				AppOptionsStateWrap.Value.Options.IconSizeInPixels);
	    }
		
		@if (showDefaultToolbarLocal)
		{
			<div class="luth_te_compiler-service-header-dropdown">
				<TextEditorDefaultHeaderDisplay TextEditorViewModelDisplay="TextEditorViewModelDisplay"/>
			</div>
		}
	
		<button class="luth_button"
				title="Toggle Default Toolbar"
				@onclick="ToggleDefaultToolbar">
			
			@if (showDefaultToolbarLocal)
			{
				@IconChevronDownFragment.Render(iconDriver)
			}
			else
			{
				@IconChevronRightFragment.Render(iconDriver)
			}
		</button>
	</div>
</div>