@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals

@{ var renderBatch = TextEditorViewModelDisplay._activeRenderBatch; }

@if (renderBatch is not null)
{
	_headerDriver.GetRenderFragment(renderBatch);
	    
	<div class="luth_te_text-editor-header @TextEditorService.ThemeCssClassString">
	    <div class="luth_te_text-editor-header-listing"
	         style="overflow-y: hidden;">
	        
	        @{
	            var model = TextEditorService.TextEditorState;
	
	            if (model is not null)
	            {
	            	var appOptionsState = AppOptionsService.GetAppOptionsState();
	            
	                /* (2024-08-09)
	                var localHeaderButtonKindsList = HeaderButtonKinds;
	
	                if (localHeaderButtonKindsList is null)
	                {
	                    localHeaderButtonKindsList = Enum
	                        .GetValues(typeof(HeaderButtonKind))
	                        .Cast<HeaderButtonKind>()
	                        .ToImmutableArray();
	                }
	                */
	                
	                var localHeaderButtonKindsList = Enum
	                    .GetValues(typeof(HeaderButtonKind))
	                    .Cast<HeaderButtonKind>();
	                    
	            	var iconDriver = new IconDriver(
	            		appOptionsState.Options.IconSizeInPixels,
	            		appOptionsState.Options.IconSizeInPixels);
	
	                foreach (var headerButtonKind in localHeaderButtonKindsList)
	                {
	                    <div class="luth_te_text-editor-header-entry">
	                        @switch (headerButtonKind)
	                        {
	                            case HeaderButtonKind.Save:
	                                <button title="@headerButtonKind.ToString()"
	                                        class="luth_button"
	                                		@onclick="_headerDriver.DoSaveOnClick">
	                                    @IconSaveFragment.Render(iconDriver)
	                                </button>
	                                break;
	                            case HeaderButtonKind.PeekWindowDisplay:
	                                <button title="@headerButtonKind.ToString()"
	                                        class="luth_button"
	                                		@onclick="_headerDriver.ShowWatchWindowDisplayDialogOnClick">
	                                    @IconProjectDependenciesFragment.Render(iconDriver)
	                                </button>
	                                break;
	                        }
	                    </div>
	                }
	            }
	            else
	            {
	                <div class="luth_te_text-editor-header-entry luth_te_text-editor-header-file-sizing">
	                    <div>The @nameof(TextEditorModel) was null</div>
	                </div>
	            }
	        }
	    </div>
	</div>
}
