@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.TextEditor.RazorLib.Options.Models;
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.TextEditors.Models;
@using Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals

@{
    var renderBatch = _storedRenderBatch;
    
    // Do not use <CascadingValue Value="renderBatchValidated">...</CascadingValue>
    // at the top level in order to D.R.Y the code.
    //
    // If at any point the renderBatchValidated is null, checking after the fact is not sufficient.
    // The cascading parameter could change out from under a child component, and cause some confusing exceptions.
    var renderBatchValidated = renderBatch.IsValid ? new TextEditorRenderBatchValidated(renderBatch) : null;

    var contextBoundaryStyle = $"{renderBatch.FontSizeInPixelsCssStyle} {renderBatch.FontFamilyCssStyle} {GetGlobalHeightInPixelsStyling()} {ViewModelDisplayOptions.WrapperStyleCssString}";
    var contextBoundaryClass = $"luth_te_text-editor-css-wrapper {TextEditorService.ThemeCssClassString} {ViewModelDisplayOptions.WrapperClassCssString}";
}

@if (renderBatch.Model.ResourceUri.Value.Contains("TextEditorService"))
{
	<div style="position: fixed; width: 1000px; height: 1000px; background-color: rgb(113, 73, 0); left: 0; top: 0;">
		@*
			Working on optimizing the 'ITextEditorViewModelApi.CalculateVirtualizationResultFactory' (2024-05-28).
			======================================================================================================
			Going to add a fixed position div that contains buttons to mess with the text editor's scrollbars.
			
			A bit tired at the moment but my best shot at wording the issue:
			"does C# determine the scrollbar, or does JavaScript?"
			
			Because, currently the 'ITextEditorViewModelApi.CalculateVirtualizationResultFactory' is
			measuring what JavaScript says the scrollbar is everytime it is invoked.
	
			I commented out this "measuring of the scrollbar with JavaScript",
			to see what would happen.
	
			A rather sizeable performance improvement was the result of commenting it out.
	
			It doesn't fix all the performance problems, but there's less 'UI freezing' when holding down
			a key on the keyboard, within a large file, as one example.
	
			I can scroll "infinitely" up or down due to having commented out the JavaScript-scrollbar-measuring.
			i.e.: I can scroll above line 1, and have a negative scrollTop. Furthermore, I can scroll
			beyond the document, also "infinitely".
	
			I think I'm struggling to word my thoughts here. The frustration is that C# initiates the
			scrolling, which then causes the JavaScript virtualization boundary to trigger,
			which calls C# again. It seems round-about.
		*@

		@{
			var postNameDown = "test_ScrollDown";
			var postEditDown = TextEditorService.ViewModelApi.MutateScrollVerticalPositionFactory(renderBatch.ViewModel.ViewModelKey, 40);
		}
		<button @onclick="async () => await TextEditorService.PostSimpleBatch(postNameDown, postEditDown)"
				class="luth_button"
				style="display: inline;">
			ScrollDown
		</button>

		@{
			var postNameUp = "test_ScrollUp";
			var postEditUp = TextEditorService.ViewModelApi.MutateScrollVerticalPositionFactory(renderBatch.ViewModel.ViewModelKey, -40);
		}
		<button @onclick="async () => await TextEditorService.PostSimpleBatch(postNameUp, postEditUp)"
				class="luth_button"
				style="display: inline;">
			ScrollUp
		</button>
	</div>
}

<ContextBoundary ContextRecord="renderBatch.ViewModelDisplayOptions.ContextRecord"
                 ClassCssString="@contextBoundaryClass"
                 StyleCssString="@contextBoundaryStyle">

    @if (renderBatchValidated is not null && !renderBatch.Options!.UseMonospaceOptimizations)
    {
        // TODO: Move this inside MeasureCharacterWidthAndRowHeight.razor
        <div style="display: flex; position: absolute; visibility: hidden;"
             id="@ProportionalFontMeasurementsContainerElementId">
        </div>
    }

    <CascadingValue Name="ProportionalFontMeasurementsContainerElementId" Value="ProportionalFontMeasurementsContainerElementId">
        @if (renderBatchValidated is not null && ViewModelDisplayOptions.IncludeHeaderHelperComponent)
        {
            <CascadingValue Value="renderBatchValidated">
                <Header HeaderButtonKinds="ViewModelDisplayOptions.HeaderButtonKinds" />
            </CascadingValue>
        }

        <div @onclick="FocusTextEditorAsync"
             @onkeydown="ReceiveOnKeyDown"
             @onkeydown:preventDefault="true"
             @oncontextmenu="ReceiveOnContextMenuAsync"
             @oncontextmenu:preventDefault="true"
             @onmousedown="ReceiveContentOnMouseDown"
             @onmousemove="ReceiveContentOnMouseMove"
             @onmouseout="ReceiveContentOnMouseOut"
             @ondblclick="ReceiveOnDoubleClick"
             @onwheel="ReceiveOnWheel"
             @ontouchstart="ReceiveOnTouchStartAsync"
             @ontouchmove="ReceiveOnTouchMoveAsync"
             @ontouchend="ClearTouch"
             @ontouchcancel="ClearTouch"
             @ontouchleave="ClearTouch"
             id="@ContentElementId"
             style="@(renderBatch.HeightCssStyle) @ViewModelDisplayOptions.TextEditorStyleCssString"
             class="luth_te_text-editor luth_unselectable @ViewModelDisplayOptions.TextEditorClassCssString"
             tabindex="-1">

            <MeasureCharacterWidthAndRowHeight @ref="_measureCharacterWidthAndRowHeightComponent"
                                               HtmlElementId="@MeasureCharacterWidthAndRowHeightElementId" />

            @if (renderBatchValidated is not null)
            {
                <CascadingValue Value="renderBatchValidated">
                    <CascadingValue Value="_events.TooltipViewModel">
                        @if (ViewModelDisplayOptions.IncludeGutterComponent)
                        {
                            <GutterSection />
                        }

                        <BodySection @ref="_bodySectionComponent"
                                     TabIndex="ViewModelDisplayOptions.TabIndex"
                                     ContextMenuRenderFragmentOverride="ViewModelDisplayOptions.ContextMenuRenderFragmentOverride"
                                     IncludeContextMenuHelperComponent="ViewModelDisplayOptions.IncludeContextMenuHelperComponent"
                                     AutoCompleteMenuRenderFragmentOverride="ViewModelDisplayOptions.AutoCompleteMenuRenderFragmentOverride" />

                        @if (renderBatchValidated.ViewModel.ShowCommandBar)
                        {
                            <CommandBarDisplay RestoreFocusToTextEditor="FocusTextEditorAsync" />
                        }
                    </CascadingValue>
                </CascadingValue>
            }
            else
            {
                if (renderBatch.Model is null)
                {
                    <div>The @nameof(TextEditorModel) was null</div>
                }
                else if (renderBatch.ViewModel is null)
                {
                    <div>The @nameof(TextEditorViewModel) was null</div>
                }
                else if (renderBatch.Options is null)
                {
                    <div>The @nameof(TextEditorOptions) was null</div>
                }
            }
        </div>

        @if (renderBatchValidated is not null && ViewModelDisplayOptions.IncludeFooterHelperComponent)
        {
            <CascadingValue Value="renderBatchValidated">
                <Footer />
            </CascadingValue>
        }
    </CascadingValue>
</ContextBoundary>