@using Luthetus.Common.RazorLib.Dynamics.Models
@using Luthetus.Common.RazorLib.Resizes.Displays

<div class="luth_dialog-display @Dialog.DialogCssClass @GetCssClassForDialogStateIsActiveSelection(DialogStateIsActiveSelection.Value)"
     style="@ElementDimensionsStyleCssString @IsMaximizedStyleCssString"
     id="@Dialog.DialogFocusPointHtmlElementId"
     tabindex="-1"
     @onfocusin="HandleOnFocusIn"
     @onmousedown="HandleOnMouseDown">

    @if (Dialog.DialogIsResizable && !Dialog.DialogIsMaximized)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="Dialog.DialogElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"
                          Drag="Dialog as IDrag" />
    }

    <div class="luth_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandleAsync">
        <div class="luth_dialog-display-title luth_unselectable"
             style="@DialogTitleCssStyleString"
             title="@Dialog.Title">
            @Dialog.Title
        </div>

        <div class="luth_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
            
            @if (Dialog.DialogIsResizable)
            {
                <button class="luth_button luth_dialog-display-button-entry"
                        @onclick="ToggleIsMaximized">

                    @if (Dialog.DialogIsMaximized)
                    {
                        <IconRestore/>
                    }
                    else
                    {
                        <IconMaximize/>
                    }
                </button>
            }
            
            <button class="luth_button luth_dialog-display-button-entry"
                    @onclick="DispatchDisposeDialogRecordAction">
                <IconClose/>
            </button>
        </div>
    </div>

    <div class="luth_dialog-display-body">
        <CascadingValue Value="Dialog">
            <DynamicComponent @key="Dialog.DynamicViewModelKey"
                              Type="Dialog.ComponentType"
                              Parameters="Dialog.ComponentParameterMap" />
        </CascadingValue>
    </div>
</div>