@using Luthetus.Common.RazorLib.Dynamics.Models
@using Luthetus.Common.RazorLib.Resizes.Displays

@{
	var dialogState = DialogService.GetDialogState();
	var dialogStateIsActiveSelection = dialogState.ActiveDialogKey == Dialog.DynamicViewModelKey;
}

<div class="luth_dialog-display @Dialog.DialogCssClass @GetCssClassForDialogStateIsActiveSelection(dialogStateIsActiveSelection)"
     style="@ElementDimensionsStyleCssString @IsMaximizedStyleCssString"
     id="@Dialog.DialogFocusPointHtmlElementId"
     tabindex="-1"
     @onfocusin="HandleOnFocusIn"
     @onfocusin:stopPropagation="true"
     @onfocusout="HandleOnFocusOut"
     @onfocusout:stopPropagation="true"
     @onmousedown="HandleOnMouseDown">

    @if (Dialog.DialogIsResizable && !Dialog.DialogIsMaximized)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="Dialog.DialogElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"
                          Drag="Dialog as IDrag" />
    }

    <div class="luth_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandleAsync">
        <div class="luth_dialog-display-title luth_unselectable"
             style="@DialogTitleCssStyleString"
             title="@Dialog.Title">
            @Dialog.Title
        </div>

        <div class="luth_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
             
            @{
            	var appOptionsState = AppOptionsService.GetAppOptionsState();
            
            	var iconDriver = new IconDriver(
					appOptionsState.Options.IconSizeInPixels,
					appOptionsState.Options.IconSizeInPixels);
            }
            
            @if (Dialog.DialogIsResizable)
            {
                <button class="luth_button luth_dialog-display-button-entry"
                        @onclick="ToggleIsMaximized">

                    @if (Dialog.DialogIsMaximized)
                    {
                        @IconRestoreFragment.Render(iconDriver)
                    }
                    else
                    {
                        @IconMaximizeFragment.Render(iconDriver)
                    }
                </button>
            }
            
            <button class="luth_button luth_dialog-display-button-entry"
                    @onclick="DispatchDisposeDialogRecordAction">
                @IconCloseFragment.Render(iconDriver)
            </button>
        </div>
    </div>

    <div class="luth_dialog-display-body">
        <CascadingValue Value="Dialog">
            <DynamicComponent @key="Dialog.DynamicViewModelKey"
                              Type="Dialog.ComponentType"
                              Parameters="Dialog.ComponentParameterMap" />
        </CascadingValue>
    </div>
</div>