@using Fluxor.Blazor.Web.Components;
@using Luthetus.Ide.RazorLib.FindAlls.Models;
@inherits FluxorComponent

@{ var findAllState = FindAllStateWrap.Value; }

<div class="luth_ide_find-all">
    <div class="luth_ide_find-all-filter-list">
        <div class="luth_ide_find-all-filter @GetIsActiveCssClass(FindAllFilterKind.Files)">
            <IconFile/> files (f:)
        </div>
        <div class="luth_ide_find-all-filter @GetIsActiveCssClass(FindAllFilterKind.Types)">
            <IconSymbolClass/> types (t:)
        </div>
        <div class="luth_ide_find-all-filter @GetIsActiveCssClass(FindAllFilterKind.Members)">
            <IconSymbolMethod/> members (m:)
        </div>
    </div>

    @if (findAllState.StartingAbsolutePathForSearch is null)
    {
        <div>Set an active .NET Solution to choose a beginning path for the search.</div>
    }
    else
    {
        <div>Search beginning path: '@findAllState.StartingAbsolutePathForSearch'</div>
    }
    
    <input @bind="InputValue" />

    <div>@InputValue</div>

    <hr/>

    @foreach (var filePath in findAllState.ResultList)
    {
        <div style="cursor: pointer;"
             @onclick="() => OpenInEditorOnClick(filePath)">

            @if (findAllState.StartingAbsolutePathForSearch is not null)
            {
                @filePath.Replace(findAllState.StartingAbsolutePathForSearch, string.Empty)
            }
            else
            {
                @filePath
            }
        </div>
    }
</div>