<div class="luth_resizable-display">

    @* Cardinal Resize Handles *@
    <div class="luth_resize-handle luth_resize-handle-north luth_resize-handle-cardinal"
         style="@GetNorthResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-east luth_resize-handle-cardinal"
         style="@GetEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerEastResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-south luth_resize-handle-cardinal"
         style="@GetSouthResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-west luth_resize-handle-cardinal"
         style="@GetWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerWestResizeHandleAsync)">
    </div>
    
    @* Diagonal Resize Handles *@
    <div class="luth_resize-handle luth_resize-handle-north-east luth_resize-handle-diagonal"
         style="@GetNorthEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthEastResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-south-east luth_resize-handle-diagonal"
         style="@GetSouthEastResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthEastResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-south-west luth_resize-handle-diagonal"
         style="@GetSouthWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerSouthWestResizeHandleAsync)">
    </div>

    <div class="luth_resize-handle luth_resize-handle-north-west luth_resize-handle-diagonal"
         style="@GetNorthWestResizeHandleStyleCss()"
         @onmousedown="async () => await SubscribeToDragEventAsync(DragEventHandlerNorthWestResizeHandleAsync)">
    </div>
</div>