@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ var localGitState = GitStateWrap.Value; }

<button class="luth_button luth_git-interactive-icon @CssClassString"
        style="@CssStyleString"
        @onclick="() => HandleOnClick(localGitState)">

    @if (localGitState.Repo is null)
    {
        <text>
            set git repo
        </text>
    }
    else
    {
        <text>
            @localGitState.Branch
            &nbsp;

            <IconArrowUp/>
            @localGitState.AheadByCommitCount
            &nbsp;

            <IconArrowDown/>
            @localGitState.BehindByCommitCount
            &nbsp;
        </text>
    }
</button>
