@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.NuGetPackageManagerContext"
                 ClassCssString="luth_ide_nu-get-package-manager-display"
                 StyleCssString="height: 100%; width: 100%;">
    
    @if (AppOptionsService.ShowPanelTitles)
    {
	    <div class="luth_ide_section-title">
	        NuGet
	    </div>
	}

    <div class="luth_ide_section-body @AppOptionsService.ShowPanelTitlesCssClass"
         style="width: 100%;">

        @{
            var nuGetPackageManagerState = NuGetPackageManagerStateWrap.Value;
            var dotNetSolutionStateWrap = DotNetSolutionStateWrap.Value;
        }

        @if (dotNetSolutionStateWrap.DotNetSolutionModel is null)
        {
            <div>
                Solution has not yet been chosen
            </div>
        }
        else
        {
            <div style="margin-bottom: 2em;">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            Project:
                        </td>
                        <td>
                            <select @onchange="e => SelectedProjectToModifyChanged(e, dotNetSolutionStateWrap)">
                                
                                <option value="@Guid.Empty"
                                        selected="@(!ValidateSolutionContainsSelectedProject(dotNetSolutionStateWrap, nuGetPackageManagerState))">
                                    Select a project to modify
                                </option>

                                @foreach (var project in dotNetSolutionStateWrap.DotNetSolutionModel.DotNetProjectList)
                                {
                                    <option value="@project.ProjectIdGuid.ToString()"
                                            selected="@CheckIfProjectIsSelected(project, nuGetPackageManagerState)">
                                        @project.DisplayName
                                    </option>
                                }
                            </select>
                        </td>
                        <td>
                            @if (nuGetPackageManagerState.SelectedProjectToModify is null)
                            {
                                <em class="luth_em">
                                    {theSelectedProjectWasNotFound}
                                </em>
                            }
                            else
                            {
                                <em class="luth_em">
                                    @nuGetPackageManagerState.SelectedProjectToModify.DisplayName
                                </em>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Source:
                        </td>
                        <td>
                            <select>
                                <option>TODO: pick provider</option>
                            </select>
                        </td>
                        <td>
                            <em class="luth_em">
                                @NugetPackageManagerProvider.ProviderWebsiteUrlNoFormatting
                            </em>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Search:
                        </td>
                        <td>
                            <input class="luth_ide_input luth_ide_input-text"
                                    style="height: 2em;"
                                    placeholder="Nuget query"
                                    @bind="NugetQuery"
                                    @bind:event="oninput"/>
                        </td>
                        <td>
                            <em class="luth_em">

                                @{ var localNugetQuery = NugetQuery; }

                                @if (string.IsNullOrWhiteSpace(localNugetQuery))
                                {
                                    <text>{searchNotYetSet}</text>
                                }
                                else
                                {
                                    <text>@localNugetQuery</text>
                                }
                            </em>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Include prerelease:
                        </td>
                        <td>
                            <input class="luth_ide_input"
                                    type="checkbox"
                                    @bind="IncludePrerelease" />
                        </td>
                        <td>
                            <em class="luth_em">
                                @IncludePrerelease
                            </em>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <hr/>

                <div>
                    <span>RESULT:</span>

                    <em class="luth_em">
                        @(NugetPackageManagerProvider.BuildQuery(NugetQuery, IncludePrerelease).Query)
                    </em>
                </div>

                <button class="luth_button"
                        @onclick="SubmitNuGetQueryOnClick">
                    Submit
                </button>

                @if (_performingNugetQuery)
                {
                	var iconDriver = new IconDriver(
						AppOptionsStateWrap.Value.Options.IconSizeInPixels,
						AppOptionsStateWrap.Value.Options.IconSizeInPixels);
						
                    @IconLoadingFragment.Render(iconDriver)
                }

                @if (_exceptionFromNugetQuery is not null)
                {
                    <div>@_exceptionFromNugetQuery.Message</div>
                }

                <hr/>

                @{ var nugetResult = NuGetPackageManagerStateWrap.Value.QueryResultList; }

                @if (NuGetPackageManagerStateWrap.Value.QueryResultList.Any())
                {
                    foreach (var entry in nugetResult)
                    {
                        <NugetPackageDisplay NugetPackageRecord="entry"/>
                    }
                }
            </div>
        }
    </div>
</ContextBoundary>