@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models
@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models
@using Luthetus.Common.RazorLib.Menus.Displays

<ContextBoundary ContextRecord="ContextFacts.GitContext"
                 ClassCssString="luth_ide_git-display"
                 StyleCssString="height: 100%">

    @{
        var localGitState = GitBackgroundTaskApi.Git.GetGitState();
    }

    @if (CommonApi.AppOptionApi.ShowPanelTitles)
	{
	    <div class="luth_ide_section-title">
	        Git
	    </div>
    }

    <div class="luth_ide_section-body @CommonApi.AppOptionApi.ShowPanelTitlesCssClass">
        <CascadingValue Value="localGitState">

            <button @ref="_menuButtonElementReference"
                    @onclick="() => { return ShowMenuDropdown(_menuDropdownKey); }"
					id="@_dropdownMenuHtmlElementId"
                    class="luth_button luth_ide_git-justify-end"
                    style="position: relative; margin-top: 10px; padding: 8px; justify-content: center; align-items: center;">
                    
                @{
                    var appOptionsState = CommonApi.AppOptionApi.GetAppOptionsState();
                
                	var iconDriver = new IconDriver(
						appOptionsState.Options.IconSizeInPixels,
						appOptionsState.Options.IconSizeInPixels);
                }
                @IconSettingsGearFragment.Render(iconDriver)
            </button>

            <div style="margin-top: 10px;">
                @if (localGitState.Repo is null)
                {
                    <button class="luth_button"
                            @onclick="ShowAddRepoDialog">
                        Choose Repo
                    </button>
                }
            </div>
            
            @if (localGitState.Repo is not null)
            {
                <div title="@localGitState.Repo.AbsolutePath.Value">
                    Repo: @localGitState.Repo.AbsolutePath.NameNoExtension
                </div>

                <div style="text-wrap: nowrap;">
                    Origin:

                    @if (string.IsNullOrWhiteSpace(localGitState.Origin))
                    {
                        @: null
                    }
                    else
                    {
                        @localGitState.Origin
                    }
                </div>

                <GitInteractiveIconDisplay/>

                <GitControlsDisplay />
            }
        </CascadingValue>
    </div>
</ContextBoundary>