@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
	var localGitState = GitStateWrap.Value;
	
	var appOptionsState = AppOptionsService.GetAppOptionsState();
	
	var iconDriver = new IconDriver(
		appOptionsState.Options.IconSizeInPixels,
		appOptionsState.Options.IconSizeInPixels);
}

<button class="luth_button luth_git-interactive-icon @CssClassString"
        style="@CssStyleString"
        title="@localGitState.AheadByCommitCount outgoing / @localGitState.BehindByCommitCount incoming commits"
        @onclick="() => HandleOnClick(localGitState)">

    @if (localGitState.Repo is null)
    {
        <text>
            set git repo
        </text>
    }
    else
    {
        <text>
            @if (string.IsNullOrWhiteSpace(localGitState.Branch))
            {
                @: null_branch
            }
            else
            {
                @localGitState.Branch
            }
            &nbsp;

            @IconArrowUpFragment.Render(iconDriver)
            @localGitState.AheadByCommitCount
            &nbsp;

            @IconArrowDownFragment.Render(iconDriver)
            @localGitState.BehindByCommitCount
            &nbsp;
        </text>
    }
</button>
