@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Resizes.Displays
@using Luthetus.Common.RazorLib.TreeViews.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays
@using Luthetus.Ide.RazorLib.CodeSearches.Models;
@using Luthetus.Ide.RazorLib.CodeSearches.States;
@inherits FluxorComponent

@{
	var codeSearchState = CodeSearchStateWrap.Value;
	var appOptionsState = AppOptionsService.GetAppOptionsState();
}

<div class="luth_ide_find-all">

    <div class="luth_ide_find-all-top-content"
         style="@codeSearchState.TopContentElementDimensions.StyleString">
		
		@* <!-- Comment out currently unimplemented code -->
	        <div class="luth_ide_find-all-filter-list">
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Files)">
	                <IconFile /> files (f:)
	            </div>
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Types)">
	                <IconSymbolClass /> types (t:)
	            </div>
	            <div class="luth_ide_find-all-filter @GetIsActiveCssClass(CodeSearchFilterKind.Members)">
	                <IconSymbolMethod /> members (m:)
	            </div>
	        </div>
		*@

        @if (codeSearchState.StartingAbsolutePathForSearch is null)
        {
            <div>Set an active .NET Solution to choose a beginning path for the search.</div>
        }
        else
        {
            <div>Search beginning path: '@codeSearchState.StartingAbsolutePathForSearch'</div>
        }

        <input @bind="InputValue" />

        <div>@InputValue</div>

        <hr />

        <div>Results: @($"{codeSearchState.ResultList.Count:N0}")</div>
        
        <CascadingValue Name="LuthetusTreeViewIconWidth" Value="appOptionsState.Options.IconSizeInPixels">
            <CascadingValue Name="LuthetusTreeViewIconHeight" Value="appOptionsState.Options.IconSizeInPixels">
                <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                    <TreeViewContainerDisplay TreeViewContainerKey="CodeSearchState.TreeViewCodeSearchContainerKey"
                                              CssStyleString="height: 100%;"
                                              OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                              TreeViewKeyboardEventHandler="_treeViewKeymap"
                                              TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>

    <ResizableRow TopElementDimensions="codeSearchState.TopContentElementDimensions"
                  BottomElementDimensions="codeSearchState.BottomContentElementDimensions"
                  ReRenderFuncAsync="HandleResizableRowReRenderAsync"/>
    
    <div class="luth_ide_find-all-bottom-content"
         style="@codeSearchState.BottomContentElementDimensions.StyleString">
         
         <TextEditorViewModelDisplay TextEditorViewModelKey="codeSearchState.PreviewViewModelKey"
                                     ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
    </div>
</div>