<div class="luth_ide_syntax-node-property">
    <div class="luth_ide_syntax-node-property-name luth_te_attribute-name">
        @nameof(SyntaxToken.SyntaxKind)
    </div>
    <div class="luth_ide_syntax-node-property-value luth_te_attribute-value">
        @SyntaxToken.SyntaxKind
    </div>
</div>
<div class="luth_ide_syntax-node-property">
    <div class="luth_ide_syntax-node-property-name luth_te_attribute-name">
        @nameof(SyntaxToken.TextSpan.StartingIndexInclusive)
    </div>
    <div class="luth_ide_syntax-node-property-value luth_te_attribute-value">
        @SyntaxToken.TextSpan.StartingIndexInclusive
    </div>
</div>
<div class="luth_ide_syntax-node-property">
    <div class="luth_ide_syntax-node-property-name luth_te_attribute-name">
        @nameof(SyntaxToken.TextSpan.EndingIndexExclusive)
    </div>
    <div class="luth_ide_syntax-node-property-value luth_te_attribute-value">
        @SyntaxToken.TextSpan.EndingIndexExclusive
    </div>
</div>
